// Declaring variables
@background-color:#f73416;
@border:#666666;
@color:#ffffff;
@background-color-hover:#dddddd;
@border-hover:#444444;
@color-hover:#444444;

// Using variables
a.TOPICS{
	display: inline-block !important;
	background: linear-gradient(to bottom,lighten(@background-color,6%) 0%,darken(@background-color,9%) 100%) !important;
	color: @color !important;
	border: 1px solid @border !important;
	border-radius: 4px !important;
	width: 240px !important;
	max-width: 100% !important;
	font-size: 100% !important;
	line-height: 1.9 !important;
	text-align: center !important;
	text-decoration: none !important;
	cursor:pointer !important;
	padding: 1em !important;
	transition: all 0.4s !important;
}
a.TOPICS:visited{
	background: linear-gradient(to bottom,lighten(@background-color,6%) 0%,darken(@background-color,9%) 100%) !important;
	color: @color !important;
	border: 1px solid @border !important;
	text-decoration: none !important;
}
a.TOPICS:active{
	background: linear-gradient(to bottom,darken(@background-color-hover,9%) 0%,lighten(@background-color-hover,6%) 100%) !important;
	color: @color-hover !important;
	border: 1px solid @border-hover !important;
	text-decoration: none !important;
}
a.TOPICS:hover{
	background: linear-gradient(to bottom,darken(@background-color-hover,9%) 0%,lighten(@background-color-hover,6%) 100%) !important;
	color: @color-hover !important;
	border: 1px solid @border-hover !important;
	box-shadow: 0 0 2px rgba(0,0,0,0.7) !important;
	text-decoration: none !important;
	opacity: 1 !important;
}
