@charset "utf-8";

.-dress_news .c-small_headline {
	color:#1e4f24;
	font-size:1em;
	letter-spacing:1px;

}
.-dress_news .c-large_headline {
	font-size:1.5em;
	background-position:center top;
	background-repeat:no-repeat;
	padding-top:0em;
	margin-bottom:0em;
	color:#212121;

}
.-dress_news .c-body {
	margin-top:1em;
	margin-bottom:2em;

}
.-dress_news .c-page_title {
	color:#000000;
	letter-spacing:1px;

}
.-dress_news .c-note {
	color:#666666;
	font-size:0.8em;
	letter-spacing:2px;

}
.-dress_news .c-lead {
	color:#000000;
	font-size:0.9em;
	margin-top:0.5em;
	margin-bottom:0.5em;

}
.-dress_news .c-enclosure {
	border:2px solid #712321;

}
.-dress_news .c-hr {
	border-top:2px solid #cccccc;
	border-bottom-style:none;
	border-left-style:none;
	border-right-style:none;

}
.-dress_news .m-motion.-j {
	text-align:center;

}
.-dress_news .m-motion.-j .lavalamp-object {
	border-top:4px solid #f9ff67;
	border-bottom-style:none;
	border-left-style:none;
	border-right-style:none;
	margin:2.5em 0px 0px 0px;

}
.-dress_news .c-menu.-menu_a {
	border-style:none;

}
.-dress_news .c-menu.-menu_a li {
	border-style:none;

}
.-dress_news .m-motion.-j li {
	display:inline-block;
	float:none;
	margin-left:1em;
	margin-right:1em;
	text-align:center;

}
.-dress_news .m-motion.-g .lavalamp-object {
	border:2px solid #35823c;
	border-radius:10em;
	background-color:rgba(0, 0, 0, 0);

}
.-dress_news .m-motion.-h li a {
	color:#ffffff;
	background-color:rgb(113,35,33);

}
.-dress_news .m-motion.-i li a {
	color:#ffffff;
	background-color:rgb(113,35,33);
	border-color:#422322;

}
.-dress_news .m-motion.-f > li > a + ul:before {
	border-top:5px solid #712321;
	border-bottom-color:#000000;
	border-bottom-style:none;

}
.-dress_news .m-motion.-f > li > ul li:first-child:before {
	border-bottom:5px solid #712321;

}
.-dress_news .m-motion.-f > li > .c-unlink + ul:before {
	border-top:5px solid #712321;
	border-bottom-style:none;

}
.-dress_news .m-motion.-f > li > ul > li a {
	background-color:rgb(113,35,33);
	color:#ffffff;

}
.-dress_news .m-motion.-f > li > ul > li .c-unlink {
	background-color:rgb(113,35,33);
	color:#ffffff;

}
.-dress_news .m-motion.-f > li > ul > li a:hover {
	color:#712321;
	background-color:rgb(0,0,0);

}
.-dress_news .m-motion.-j a {
	letter-spacing:0.1em;
	padding:0px;
	margin-right:0em;
	margin-left:0em;

}
.-dress_news .m-motion.-j li .c-unlink {
	letter-spacing:0.1em;

}
.-dress_news .c-menu.-menu_c {
	background-color:rgb(113,35,33);
	border-radius:6px;

}
.-dress_news .c-menu.-menu_c li a {
	color:#ffffff;
	background-color:transparent;

}
.-dress_news .c-menu.-menu_c li .c-unlink {
	background-color:transparent;

}
.-dress_news .c-menu.-menu_c li a:hover {
	opacity:1;
	background-color:rgb(0,0,0);

}
.-dress_news .c-menu.-menu_d li a:hover {
	background-color:rgb(0,0,0);
	opacity:1;

}
.-dress_news .c-menu.-menu_c li .c-current {
	background-color:rgb(0,0,0);

}
.-dress_news .c-menu.-menu_d {
	background-color:rgb(113,35,33);

}
.-dress_news .c-menu.-menu_d li a {
	background-color:transparent;
	color:#ffffff;

}
.-dress_news .c-menu.-menu_d li .c-unlink {
	background-color:transparent;

}
.-dress_news .c-menu.-menu_d li .c-current {
	background-color:rgb(0,0,0);

}
.-dress_news .c-menu.-menu_b {
	border-color:#000000;
	border-style:none;

}
.-dress_news .m-motion.-g li a:hover {
	color:#1e4f24;
	font-weight:bold;
	font-family:"F+UD-筑紫明朝 D";

}
.-dress_news .m-motion li a:hover {
	opacity:1;

}
.-dress_news .m-motion.-f li a {
	background-color:transparent;
	border-bottom-style:none;

}
.-dress_news .m-motion.-f li .c-unlink {
	border-bottom-style:none;

}
.-dress_news .c-menu.-menu_e li a {
	background-image:linear-gradient(to bottom,#712321 49%,#662321 50%);
	color:#ffffff;

}
.-dress_news .c-menu.-menu_e li .c-unlink {
	background-image:linear-gradient(to bottom,#712321 49%,#662321 50%);

}
.-dress_news .c-menu.-menu_e li a:hover {
	background-image:linear-gradient(to bottom,#000000 0%,#000000 100%);
	color:#ffffff;
	opacity:1;

}
.-dress_news .c-menu.-menu_e {
	background-image:url("images/transparent.gif");
	background-image:linear-gradient(to bottom,#712321 49%,#662321 50%);

}
.-dress_news .c-menu.-menu_e li {
	background-color:transparent;

}
.-dress_news .c-menu.-menu_e li ul {
	margin-left:0px;

}
.-dress_news .c-menu li {
	border-style:none;

}
.-dress_news .c-menu.-menu_e li .c-current {
	background-color:rgb(0,0,0);
	background-image:url("images/transparence.png");

}
.-dress_news .c-menu.-menu_c li {
	padding:0.5em;

}
.-dress_news .c-menu.-v.-menu_e li .c-current {
	background-color:rgb(0,0,0);
	background-image:url("images/transparence.png");

}
.-dress_news .c-list_table {
	border-style:none;

}
.-dress_news .c-list_table th {
	width:60%;
	font-size:1em;
	color:#762324;
	border-style:none;
	padding:0px;
	font-weight:bold;

}
.-dress_news .c-list_table td {
	color:#212121;
	text-align:right;
	font-size:0.9em;
	line-height:2.3;
	border-style:none;
	padding:0px 0px 10px 0px;
	font-weight:normal;

}
.-dress_news .c-list_news th {
	color:#712321;
	font-weight:bolder;

}
.-dress_news .c-list_indent th {
	color:#712321;
	font-weight:bold;
	border-color:#712321;

}
.-dress_news .c-cart .c-cart_table {
	border-color:#702423;

}
.-dress_news .c-cart .c-cart_table td {
	border-color:#702423;

}
.-dress_news .c-cart .c-cart_table th {
	border-color:#702423;

}
.-dress_news .c-cart .c-list_table th {
	background-color:rgba(112, 36, 35, 0.8);
	border:1px solid #702423;
	padding:0.5em;
	color:#ffffff;

}
.-dress_news .c-cart .c-list_table td {
	border:1px solid #702423;
	padding:0.5em;

}
.-dress_news .c-cart .c-list_indent th {
	border-color:#702423;

}
.-dress_news .c-cart .c-list_indent td {
	border-color:#702423;

}
.-dress_news .c-cart .c-cart_buying_area {
	background-color:rgb(255,255,255);

}
.-dress_news .c-cart .c-list_table {
	border:1px solid #702423;

}
.-dress_news .c-pager span {
	display:none;

}
.-dress_news .c-pager a {
	background-color:rgb(242,242,242);
	color:#000000;
	padding:12px 20px 12px 20px;
	display:inline-block;

}
.-dress_news .c-pager .c-current {
	background-color:rgb(113,35,33);
	opacity:1;
	color:#ffffff;
	display:inline-block;
	padding:12px 20px 12px 20px;

}
.-dress_news .c-pager {
	color:#000000;

}
.-dress_news .c-pager a:hover {
	background-color:rgb(113,35,33);
	opacity:1;
	color:#ffffff;

}
.-dress_news .c-pager a:visited {
	color:#000000;

}
.-dress_news .a-footer .c-menu li a {
	color:#ffffff;

}
.-dress_news .a-footer .c-menu li .c-unlink {
	color:#999999;

}
.-dress_news .a-footer .m-motion.-f li a {
	color:#ffffff;

}
.-dress_news .a-footer .m-motion.-f li .c-unlink {
	color:#999999;

}
.-dress_news .a-footer .m-motion li a {
	color:#ffffff;

}
.-dress_news .a-footer .c-menu.-menu_e {
	border-style:none;

}
.-dress_news .b-accordion_navigation {
	background-color:#ffffff;

}
.-dress_news.b-accordion_navigation {
	background-color:#ffffff;

}
.-dress_news .b-accordion_navigation a {
	background-color:#00a4cc;
	color:#ffffff;
	line-height:1.5;

}
.-dress_news.b-accordion_navigation a {
	background-color:#00a4cc;
	color:#ffffff;
	line-height:1.5;

}
.-dress_news .b-accordion .column {
	padding:1em 30px 1em 30px;
	background-color:#ffffff;

}
.-dress_news.b-accordion .column {
	padding:1em 30px 1em 30px;
	background-color:#ffffff;

}
.-dress_news .b-tab_contents {
	background-color:rgba(255, 255, 255, 0.4);
	padding:20px;

}
.-dress_news.b-tab_contents {
	background-color:rgba(255, 255, 255, 0.4);
	padding:20px;

}
.-dress_news .b-tab_navigation li a {
	color:#ffffff;
	background-color:rgb(0,0,0);

}
.-dress_news.b-tab_navigation li a {
	color:#ffffff;
	background-color:rgb(0,0,0);

}
.-dress_news .b-tab_navigation li.-active a {
	color:#ffffff;
	background-color:rgb(112,36,35);

}
.-dress_news.b-tab_navigation li.-active a {
	color:#ffffff;
	background-color:rgb(112,36,35);

}
.-dress_news .b-tab_navigation li a:hover {
	background-color:rgb(0,0,0);
	opacity:1;

}
.-dress_news.b-tab_navigation li a:hover {
	background-color:rgb(0,0,0);
	opacity:1;

}
.-dress_news .b-accordion_navigation.-active a {
	background-color:#0165a6;

}
.-dress_news.b-accordion_navigation.-active a {
	background-color:#0165a6;

}
.-dress_news .b-accordion_navigation a:hover {
	opacity:1;
	background-color:#00a4cc;

}
.-dress_news.b-accordion_navigation a:hover {
	opacity:1;
	background-color:#00a4cc;

}
.-dress_news .a-footer .b-tab_contents {
	background-color:rgba(255, 255, 255, 0.2);

}
.-dress_news .b-album .c-photo_mouseover .c-mouseover_position .js-photo_mouseover {
	color:#ffffff;
	background-image:url("images/square.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:rgba(112, 36, 35, 0.8);
	font-size:16px;
	line-height:2.5;
	padding:1em;

}
.-dress_news.b-album .c-photo_mouseover .c-mouseover_position .js-photo_mouseover {
	color:#ffffff;
	background-image:url("images/square.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:rgba(112, 36, 35, 0.8);
	font-size:16px;
	line-height:2.5;
	padding:1em;

}
.-dress_news .a-footer .b-headlines .column.-column2 {
	background-color:transparent;

}
.-dress_news .a-footer {
	background-color:rgb(51,51,51);

}
.-dress_news .a-footer .b-headlines .column.-column1 {
	padding:0px;
	margin:0px;

}
.-dress_news .a-footer .b-headlines .c-large_headline {
	color:#000000;

}
.-dress_news .a-footer .b-headlines .c-body {
	color:#555555;
	margin-right:40px;
	margin-left:40px;

}
.-dress_news .a-footer .c-credit {
	color:#ffffff;

}
.-dress_news .a-footer a {
	color:#cccccc;

}
.-dress_news .a-footer .b-headlines {
	background-color:rgb(246,246,247);

}
.-dress_news .a-footer .c-body {
	color:#cccccc;

}
.-dress_news .a-footer .c-title {
	color:#ffffff;

}
.-dress_news .a-footer .c-page_title {
	color:#ffffff;

}
.-dress_news .a-footer .c-note {
	color:#cccccc;

}
.-dress_news .a-footer .c-enclosure {
	color:#cccccc;
	border-color:#cccccc;

}
.-dress_news .a-footer .c-blockquote {
	color:#ffffff;

}
.-dress_news .a-footer .c-lead {
	color:#ffffff;

}
.-dress_news .a-footer .c-large_headline {
	color:#e0e0de;

}
.-dress_news .a-footer .b-headlines .c-title {
	color:#000000;
	padding-top:2em;

}
.-dress_news .a-footer .b-headlines .c-small_headline {
	color:#712321;

}
.-dress_news .a-footer .b-headlines .c-lead {
	color:#555555;
	padding-top:1em;

}
.-dress_news .a-footer .b-headlines .c-blockquote {
	color:#000000;

}
.-dress_news .a-footer .b-headlines .c-enclosure {
	color:#555555;

}
.-dress_news .a-footer .b-headlines .c-note {
	color:#555555;

}
.-dress_news .a-footer .b-headlines .c-credit {
	color:#555555;

}
.-dress_news .a-footer .b-headlines .c-page_title {
	color:#000000;

}
.-dress_news  {
	line-height:2;
	letter-spacing:0.1em;
	color:#555555;

}
.-dress_news .c-list-no_mark li  {
	padding-bottom:5px;

}
.-dress_news .b-tab.-slide .column {
	padding:20px;

}
.-dress_news.b-tab.-slide .column {
	padding:20px;

}
.-dress_news .b-accordion .c-large_headline {
	color:#5b8f8f;
	font-size:16pt;

}
.-dress_news.b-accordion .c-large_headline {
	color:#5b8f8f;
	font-size:16pt;

}
.-dress_news .b-accordion .c-lead {
	color:#547ba8;
	font-size:12pt;

}
.-dress_news.b-accordion .c-lead {
	color:#547ba8;
	font-size:12pt;

}
.-dress_news .c-small_headline a {
	color:#a20000;

}
.-dress_news .c-large_headline a {
	color:#1e4f24;
	margin-top:0px;

}
.-dress_news .m-motion.-g {
	text-align:center;
	margin-top:-20px;
	margin-bottom:-5px;

}
@media screen and (max-width: 641px) {
.-dress_news .c-body {
		margin-top:0.5em;
		margin-bottom:1em;
	
	}
	.-dress_news .c-large_headline {
		font-size:1.5em;
		padding-top:1em;
	
	}
	.-dress_news .c-title {
		font-size:2em;
	
	}
	.-dress_news #js-globalNavigation {
		width:70%;
		background-color:#0165a6;
		text-align:left;
		padding:1em;
		margin-left:30%;
	
	}
	.-dress_news #spNavigationTrigger {
		box-shadow:0px 0px 6px rgba(112, 36, 35, 0.5);
		border-color:#702423;
		border-style:solid;
		margin:0px 15px 0px 5px;
	
	}
	.-dress_news #js-globalNavigation .c-menu li,.-dress_news #js-globalNavigation .m-motion li {
		background-color:transparent;
		background-image:url("images/transparence.png");
		border-style:none;
		padding:0px;
		margin:0px;
	
	}
	.-dress_news #js-globalNavigation .c-menu li.c-sp-closer a,.-dress_news #js-globalNavigation .m-motion li.c-sp-closer a {
		text-align:right;
	
	}
	.-dress_news .m-motion.-j li {
		display:inherit;
		float:right;
	
	}
	.-dress_news #spNavigationTrigger .c-sp-navigation_line1,.-dress_news #spNavigationTrigger .c-sp-navigation_line2,.-dress_news #spNavigationTrigger .c-sp-navigation_line3 {
		border-color:#702423;
	
	}
	.-dress_news .m-motion.-f > li > ul > li a {
		background-color:transparent;
		color:#000000;
		border-style:none;
	
	}
	.-dress_news .m-motion.-f > li > ul > li .c-unlink {
		background-color:transparent;
		color:#000000;
		border-style:none;
	
	}
	.-dress_news .m-motion.-h li {
		border-style:none;
	
	}
	.-dress_news .m-motion.-i li {
		border-style:none;
	
	}
	.-dress_news .m-motion.-f > li > ul > li a:hover {
		background-color:transparent;
	
	}
	.-dress_news .m-motion li {
		border-style:none;
	
	}
	.-dress_news .m-motion.-f li a {
		border-style:none;
	
	}
	.-dress_news .m-motion.-f li .c-unlink {
		border-style:none;
	
	}
	.-dress_news .m-motion.-f > li > a {
		font-weight:bold;
	
	}
	.-dress_news .m-motion.-f > li > .c-unlink {
		font-weight:bold;
	
	}
	.-dress_news .m-motion.-f > li > ul > li {
		border-style:none;
	
	}
	.-dress_news .c-menu.-menu_c li {
		border-style:none;
	
	}
	.-dress_news .c-menu.-menu_c li a {
		line-height:2;
	
	}
	.-dress_news .c-menu.-menu_c li .c-unlink {
		line-height:2;
	
	}
	.-dress_news #js-globalNavigation .c-menu,.-dress_news #js-globalNavigation .m-motion {
		color:#ffffff;
		background-color:transparent;
		background-image:url("images/transparence.png");
		text-align:left;
		border-style:none;
		padding:0px;
		margin:0px;
	
	}
	.-dress_news #js-globalNavigation .c-menu li a,.-dress_news #js-globalNavigation .m-motion li a {
		color:#ffffff;
		background-color:transparent;
		background-image:url("images/transparence.png");
		line-height:1.8;
		text-align:left;
		border-style:none;
		padding:0px;
	
	}
	.-dress_news #js-globalNavigation .c-menu li .c-unlink,.-dress_news #js-globalNavigation .m-motion li .c-unlink {
		color:#cccccc;
		background-color:transparent;
		background-image:url("images/transparence.png");
		line-height:1.8;
		text-align:left;
		border-style:none;
		padding:0px;
	
	}
	.-dress_news #js-globalNavigation .c-menu li.c-sp-closer,.-dress_news #js-globalNavigation .m-motion li.c-sp-closer {
		text-align:right;
	
	}
	.-dress_news #js-globalNavigation .c-menu li.c-sp-closer .icon-close,.-dress_news #js-globalNavigation .m-motion li.c-sp-closer .icon-close {
		text-align:right;
	
	}
	.-dress_news .m-motion.-g li a {
		margin:0px;
	
	}
	.-dress_news .c-list_table {
		width:100%;
		margin:0px 10px 0px 10px;
	
	}
	.-dress_news .c-list_news th {
		text-align:center;
		border-style:none;
		padding:0px;
		margin-top:1em;
	
	}
	.-dress_news .c-list_news td {
		border-color:#712321;
		padding:0px 0px 0.5em 0px;
	
	}
	.-dress_news .a-footer .c-menu {
		background-color:transparent;
		background-image:url("images/transparent.gif");
	
	}
	.-dress_news .a-footer .c-menu li a {
		color:#ffffff;
		background-color:transparent;
		background-image:url("images/transparent.gif");
	
	}
	.-dress_news .a-footer .c-menu li .c-unlink {
		color:#cccccc;
		background-color:transparent;
		background-image:url("images/transparent.gif");
	
	}
	.-dress_news .b-headlines .column {
		padding-bottom:2em;
	
	}
	.-dress_news.b-headlines .column {
		padding-bottom:2em;
	
	}
	.-dress_news  {
		line-height:2;
	
	}
	.-dress_news .c-device_outer {
		background-color:#333333;
	
	}
	.-dress_news .c-device_outer .c-device_changer {
		color:#ffffff;
		border:1px solid rgb(255, 255, 255);
	
	}
	.-dress_news .b-album .c-img_comment {
		opacity:1;
	
	}
	.-dress_news.b-album .c-img_comment {
		opacity:1;
	
	}
	.-dress_news .b-album .c-img {
		opacity:1;
	
	}
	.-dress_news.b-album .c-img {
		opacity:1;
	
	}
	.-dress_news .b-album .column .js-photo_mouseover {
		opacity:1;
		transition:none;
		transform:none;
	
	}
	.-dress_news.b-album .column .js-photo_mouseover {
		opacity:1;
		transition:none;
		transform:none;
	
	}
	
}
	/* created version 8.13*/