@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-ghost_header,#a-billboard,#a-site_contents,#a-footer { max-width:100%; }
#a-site_contents { max-width:100%; }
@media (max-width: 641px) {

}


#page .bg-document {
}
#page {
}

#a-header {
}
#a-ghost_header {
}
#a-billboard { padding:0px 0px 0px 0px ;
}
#a-main {
}
#a-side-a {
}
#a-side-b {
}
#a-footer {
}
#a-site_contents {
}

@media (max-width: 641px) {
#page .bg-document {  
  }
#page {  
  }
	#a-header {padding:0px 0px 0px 0px;	}
	#a-ghost_header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk2539 { background-color:#1E4F24; }
#bk9177 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk2546 { background-color:#FBFBE1; }
#bk2546 > div { padding-left: 0px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk2540 { background-color:#1E4F24; }
#bk2540 > div { padding-left: 0px; padding-top: 17px; padding-right: 0px; padding-bottom: 15px;  } 
#bk9183 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk2547 { background-color:#1E4F24; }
#bk2547 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 20px;  } 
#bk2541 { background-color:#1E4F24; }
#bk2541 > div { padding-left: 0px; padding-top: 10px; padding-right: 0px; padding-bottom: 15px;  } 
#bk9300 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk2542 { background-color:#FFFFFF; }
#bk9492 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9199 { background-color:#FFFFFF; }
#bk9199 > div { padding-left: 35px; padding-top: 5px; padding-right: 0px; padding-bottom: 10px;  } 
#bk9490 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9493 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9494 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9495 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9496 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9497 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9498 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9499 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9500 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9501 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9502 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9503 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9504 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9505 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk9506 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 


@media (max-width: 641px) {
		#bk2539.b-plain > .column,#bk2539.b-plain > .g-column,#bk2539.b-both_diff > .column,#bk2539.b-both_diff > .g-column,#bk2539.b-headlines > .column,#bk2539.b-headlines > .g-column,#bk2539.b-album > .column,#bk2539.b-album > .g-column,#bk2539.b-tab > .column,#bk2539.b-tab > .g-column,#bk2539.b-accordion > .column,#bk2539.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk9181.b-plain > .column,#bk9181.b-plain > .g-column,#bk9181.b-both_diff > .column,#bk9181.b-both_diff > .g-column,#bk9181.b-headlines > .column,#bk9181.b-headlines > .g-column,#bk9181.b-album > .column,#bk9181.b-album > .g-column,#bk9181.b-tab > .column,#bk9181.b-tab > .g-column,#bk9181.b-accordion > .column,#bk9181.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk9177.b-plain > .column,#bk9177.b-plain > .g-column,#bk9177.b-both_diff > .column,#bk9177.b-both_diff > .g-column,#bk9177.b-headlines > .column,#bk9177.b-headlines > .g-column,#bk9177.b-album > .column,#bk9177.b-album > .g-column,#bk9177.b-tab > .column,#bk9177.b-tab > .g-column,#bk9177.b-accordion > .column,#bk9177.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9177 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk2544.b-plain > .column,#bk2544.b-plain > .g-column,#bk2544.b-both_diff > .column,#bk2544.b-both_diff > .g-column,#bk2544.b-headlines > .column,#bk2544.b-headlines > .g-column,#bk2544.b-album > .column,#bk2544.b-album > .g-column,#bk2544.b-tab > .column,#bk2544.b-tab > .g-column,#bk2544.b-accordion > .column,#bk2544.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk2545.b-plain > .column,#bk2545.b-plain > .g-column,#bk2545.b-both_diff > .column,#bk2545.b-both_diff > .g-column,#bk2545.b-headlines > .column,#bk2545.b-headlines > .g-column,#bk2545.b-album > .column,#bk2545.b-album > .g-column,#bk2545.b-tab > .column,#bk2545.b-tab > .g-column,#bk2545.b-accordion > .column,#bk2545.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk2546.b-plain > .column,#bk2546.b-plain > .g-column,#bk2546.b-both_diff > .column,#bk2546.b-both_diff > .g-column,#bk2546.b-headlines > .column,#bk2546.b-headlines > .g-column,#bk2546.b-album > .column,#bk2546.b-album > .g-column,#bk2546.b-tab > .column,#bk2546.b-tab > .g-column,#bk2546.b-accordion > .column,#bk2546.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk2546 > div { padding: 0px; }
		#bk2540.b-plain > .column,#bk2540.b-plain > .g-column,#bk2540.b-both_diff > .column,#bk2540.b-both_diff > .g-column,#bk2540.b-headlines > .column,#bk2540.b-headlines > .g-column,#bk2540.b-album > .column,#bk2540.b-album > .g-column,#bk2540.b-tab > .column,#bk2540.b-tab > .g-column,#bk2540.b-accordion > .column,#bk2540.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk2540 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk9183.b-plain > .column,#bk9183.b-plain > .g-column,#bk9183.b-both_diff > .column,#bk9183.b-both_diff > .g-column,#bk9183.b-headlines > .column,#bk9183.b-headlines > .g-column,#bk9183.b-album > .column,#bk9183.b-album > .g-column,#bk9183.b-tab > .column,#bk9183.b-tab > .g-column,#bk9183.b-accordion > .column,#bk9183.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9183 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk2547.b-plain > .column,#bk2547.b-plain > .g-column,#bk2547.b-both_diff > .column,#bk2547.b-both_diff > .g-column,#bk2547.b-headlines > .column,#bk2547.b-headlines > .g-column,#bk2547.b-album > .column,#bk2547.b-album > .g-column,#bk2547.b-tab > .column,#bk2547.b-tab > .g-column,#bk2547.b-accordion > .column,#bk2547.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk2547 > div { padding: 0px; }
		#bk2541.b-plain > .column,#bk2541.b-plain > .g-column,#bk2541.b-both_diff > .column,#bk2541.b-both_diff > .g-column,#bk2541.b-headlines > .column,#bk2541.b-headlines > .g-column,#bk2541.b-album > .column,#bk2541.b-album > .g-column,#bk2541.b-tab > .column,#bk2541.b-tab > .g-column,#bk2541.b-accordion > .column,#bk2541.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk2541 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk9300.b-plain > .column,#bk9300.b-plain > .g-column,#bk9300.b-both_diff > .column,#bk9300.b-both_diff > .g-column,#bk9300.b-headlines > .column,#bk9300.b-headlines > .g-column,#bk9300.b-album > .column,#bk9300.b-album > .g-column,#bk9300.b-tab > .column,#bk9300.b-tab > .g-column,#bk9300.b-accordion > .column,#bk9300.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9300 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk2542.b-plain > .column,#bk2542.b-plain > .g-column,#bk2542.b-both_diff > .column,#bk2542.b-both_diff > .g-column,#bk2542.b-headlines > .column,#bk2542.b-headlines > .g-column,#bk2542.b-album > .column,#bk2542.b-album > .g-column,#bk2542.b-tab > .column,#bk2542.b-tab > .g-column,#bk2542.b-accordion > .column,#bk2542.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk2542 > div { padding-left: 0px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px;  } 
		#bk9492.b-plain > .column,#bk9492.b-plain > .g-column,#bk9492.b-both_diff > .column,#bk9492.b-both_diff > .g-column,#bk9492.b-headlines > .column,#bk9492.b-headlines > .g-column,#bk9492.b-album > .column,#bk9492.b-album > .g-column,#bk9492.b-tab > .column,#bk9492.b-tab > .g-column,#bk9492.b-accordion > .column,#bk9492.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9492 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9199.b-plain > .column,#bk9199.b-plain > .g-column,#bk9199.b-both_diff > .column,#bk9199.b-both_diff > .g-column,#bk9199.b-headlines > .column,#bk9199.b-headlines > .g-column,#bk9199.b-album > .column,#bk9199.b-album > .g-column,#bk9199.b-tab > .column,#bk9199.b-tab > .g-column,#bk9199.b-accordion > .column,#bk9199.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk9199 > div { padding: 0px; }
		#bk9490.b-plain > .column,#bk9490.b-plain > .g-column,#bk9490.b-both_diff > .column,#bk9490.b-both_diff > .g-column,#bk9490.b-headlines > .column,#bk9490.b-headlines > .g-column,#bk9490.b-album > .column,#bk9490.b-album > .g-column,#bk9490.b-tab > .column,#bk9490.b-tab > .g-column,#bk9490.b-accordion > .column,#bk9490.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9490 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9493.b-plain > .column,#bk9493.b-plain > .g-column,#bk9493.b-both_diff > .column,#bk9493.b-both_diff > .g-column,#bk9493.b-headlines > .column,#bk9493.b-headlines > .g-column,#bk9493.b-album > .column,#bk9493.b-album > .g-column,#bk9493.b-tab > .column,#bk9493.b-tab > .g-column,#bk9493.b-accordion > .column,#bk9493.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9493 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9494.b-plain > .column,#bk9494.b-plain > .g-column,#bk9494.b-both_diff > .column,#bk9494.b-both_diff > .g-column,#bk9494.b-headlines > .column,#bk9494.b-headlines > .g-column,#bk9494.b-album > .column,#bk9494.b-album > .g-column,#bk9494.b-tab > .column,#bk9494.b-tab > .g-column,#bk9494.b-accordion > .column,#bk9494.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9494 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9495.b-plain > .column,#bk9495.b-plain > .g-column,#bk9495.b-both_diff > .column,#bk9495.b-both_diff > .g-column,#bk9495.b-headlines > .column,#bk9495.b-headlines > .g-column,#bk9495.b-album > .column,#bk9495.b-album > .g-column,#bk9495.b-tab > .column,#bk9495.b-tab > .g-column,#bk9495.b-accordion > .column,#bk9495.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9495 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9496.b-plain > .column,#bk9496.b-plain > .g-column,#bk9496.b-both_diff > .column,#bk9496.b-both_diff > .g-column,#bk9496.b-headlines > .column,#bk9496.b-headlines > .g-column,#bk9496.b-album > .column,#bk9496.b-album > .g-column,#bk9496.b-tab > .column,#bk9496.b-tab > .g-column,#bk9496.b-accordion > .column,#bk9496.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9496 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9497.b-plain > .column,#bk9497.b-plain > .g-column,#bk9497.b-both_diff > .column,#bk9497.b-both_diff > .g-column,#bk9497.b-headlines > .column,#bk9497.b-headlines > .g-column,#bk9497.b-album > .column,#bk9497.b-album > .g-column,#bk9497.b-tab > .column,#bk9497.b-tab > .g-column,#bk9497.b-accordion > .column,#bk9497.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9497 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9498.b-plain > .column,#bk9498.b-plain > .g-column,#bk9498.b-both_diff > .column,#bk9498.b-both_diff > .g-column,#bk9498.b-headlines > .column,#bk9498.b-headlines > .g-column,#bk9498.b-album > .column,#bk9498.b-album > .g-column,#bk9498.b-tab > .column,#bk9498.b-tab > .g-column,#bk9498.b-accordion > .column,#bk9498.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9498 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9499.b-plain > .column,#bk9499.b-plain > .g-column,#bk9499.b-both_diff > .column,#bk9499.b-both_diff > .g-column,#bk9499.b-headlines > .column,#bk9499.b-headlines > .g-column,#bk9499.b-album > .column,#bk9499.b-album > .g-column,#bk9499.b-tab > .column,#bk9499.b-tab > .g-column,#bk9499.b-accordion > .column,#bk9499.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9499 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9500.b-plain > .column,#bk9500.b-plain > .g-column,#bk9500.b-both_diff > .column,#bk9500.b-both_diff > .g-column,#bk9500.b-headlines > .column,#bk9500.b-headlines > .g-column,#bk9500.b-album > .column,#bk9500.b-album > .g-column,#bk9500.b-tab > .column,#bk9500.b-tab > .g-column,#bk9500.b-accordion > .column,#bk9500.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9500 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9501.b-plain > .column,#bk9501.b-plain > .g-column,#bk9501.b-both_diff > .column,#bk9501.b-both_diff > .g-column,#bk9501.b-headlines > .column,#bk9501.b-headlines > .g-column,#bk9501.b-album > .column,#bk9501.b-album > .g-column,#bk9501.b-tab > .column,#bk9501.b-tab > .g-column,#bk9501.b-accordion > .column,#bk9501.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9501 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9502.b-plain > .column,#bk9502.b-plain > .g-column,#bk9502.b-both_diff > .column,#bk9502.b-both_diff > .g-column,#bk9502.b-headlines > .column,#bk9502.b-headlines > .g-column,#bk9502.b-album > .column,#bk9502.b-album > .g-column,#bk9502.b-tab > .column,#bk9502.b-tab > .g-column,#bk9502.b-accordion > .column,#bk9502.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9502 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9503.b-plain > .column,#bk9503.b-plain > .g-column,#bk9503.b-both_diff > .column,#bk9503.b-both_diff > .g-column,#bk9503.b-headlines > .column,#bk9503.b-headlines > .g-column,#bk9503.b-album > .column,#bk9503.b-album > .g-column,#bk9503.b-tab > .column,#bk9503.b-tab > .g-column,#bk9503.b-accordion > .column,#bk9503.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9503 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9504.b-plain > .column,#bk9504.b-plain > .g-column,#bk9504.b-both_diff > .column,#bk9504.b-both_diff > .g-column,#bk9504.b-headlines > .column,#bk9504.b-headlines > .g-column,#bk9504.b-album > .column,#bk9504.b-album > .g-column,#bk9504.b-tab > .column,#bk9504.b-tab > .g-column,#bk9504.b-accordion > .column,#bk9504.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9504 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9505.b-plain > .column,#bk9505.b-plain > .g-column,#bk9505.b-both_diff > .column,#bk9505.b-both_diff > .g-column,#bk9505.b-headlines > .column,#bk9505.b-headlines > .g-column,#bk9505.b-album > .column,#bk9505.b-album > .g-column,#bk9505.b-tab > .column,#bk9505.b-tab > .g-column,#bk9505.b-accordion > .column,#bk9505.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9505 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
		#bk9506.b-plain > .column,#bk9506.b-plain > .g-column,#bk9506.b-both_diff > .column,#bk9506.b-both_diff > .g-column,#bk9506.b-headlines > .column,#bk9506.b-headlines > .g-column,#bk9506.b-album > .column,#bk9506.b-album > .g-column,#bk9506.b-tab > .column,#bk9506.b-tab > .g-column,#bk9506.b-accordion > .column,#bk9506.b-accordion > .g-column { margin:0 auto; max-width:1020px; }
		#bk9506 > div { padding-left: 10px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px;  } 
	}




@media (max-width: 641px) {
}
