@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-ghost_header,#a-billboard,#a-site_contents,#a-footer { max-width:960px; }
@media (max-width: 641px) {

}


#page .bg-document {
}
#page {
}

#a-header {
}
#a-ghost_header {
}
#a-billboard {
}
#a-main {
}
#a-side-a {
}
#a-side-b {
}
#a-footer {
}
#a-site_contents {
}

@media (max-width: 641px) {
#page .bg-document {  
  }
#page {  
  }
	#a-header {padding:0px 0px 0px 0px;	}
	#a-ghost_header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk12360 > div { padding-left: 30px; padding-top: 20px; padding-right: 30px; padding-bottom: 10px;  } 


@media (max-width: 641px) {
		#bk12354.b-plain > .column,#bk12354.b-plain > .g-column,#bk12354.b-both_diff > .column,#bk12354.b-both_diff > .g-column,#bk12354.b-headlines > .column,#bk12354.b-headlines > .g-column,#bk12354.b-album > .column,#bk12354.b-album > .g-column,#bk12354.b-tab > .column,#bk12354.b-tab > .g-column,#bk12354.b-accordion > .column,#bk12354.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk12360.b-plain > .column,#bk12360.b-plain > .g-column,#bk12360.b-both_diff > .column,#bk12360.b-both_diff > .g-column,#bk12360.b-headlines > .column,#bk12360.b-headlines > .g-column,#bk12360.b-album > .column,#bk12360.b-album > .g-column,#bk12360.b-tab > .column,#bk12360.b-tab > .g-column,#bk12360.b-accordion > .column,#bk12360.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk12360 > div { padding-left: 15px; padding-top: 20px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk12356.b-plain > .column,#bk12356.b-plain > .g-column,#bk12356.b-both_diff > .column,#bk12356.b-both_diff > .g-column,#bk12356.b-headlines > .column,#bk12356.b-headlines > .g-column,#bk12356.b-album > .column,#bk12356.b-album > .g-column,#bk12356.b-tab > .column,#bk12356.b-tab > .g-column,#bk12356.b-accordion > .column,#bk12356.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk12357.b-plain > .column,#bk12357.b-plain > .g-column,#bk12357.b-both_diff > .column,#bk12357.b-both_diff > .g-column,#bk12357.b-headlines > .column,#bk12357.b-headlines > .g-column,#bk12357.b-album > .column,#bk12357.b-album > .g-column,#bk12357.b-tab > .column,#bk12357.b-tab > .g-column,#bk12357.b-accordion > .column,#bk12357.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk12358.b-plain > .column,#bk12358.b-plain > .g-column,#bk12358.b-both_diff > .column,#bk12358.b-both_diff > .g-column,#bk12358.b-headlines > .column,#bk12358.b-headlines > .g-column,#bk12358.b-album > .column,#bk12358.b-album > .g-column,#bk12358.b-tab > .column,#bk12358.b-tab > .g-column,#bk12358.b-accordion > .column,#bk12358.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk12359.b-plain > .column,#bk12359.b-plain > .g-column,#bk12359.b-both_diff > .column,#bk12359.b-both_diff > .g-column,#bk12359.b-headlines > .column,#bk12359.b-headlines > .g-column,#bk12359.b-album > .column,#bk12359.b-album > .g-column,#bk12359.b-tab > .column,#bk12359.b-tab > .g-column,#bk12359.b-accordion > .column,#bk12359.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk12361.b-plain > .column,#bk12361.b-plain > .g-column,#bk12361.b-both_diff > .column,#bk12361.b-both_diff > .g-column,#bk12361.b-headlines > .column,#bk12361.b-headlines > .g-column,#bk12361.b-album > .column,#bk12361.b-album > .g-column,#bk12361.b-tab > .column,#bk12361.b-tab > .g-column,#bk12361.b-accordion > .column,#bk12361.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk12362.b-plain > .column,#bk12362.b-plain > .g-column,#bk12362.b-both_diff > .column,#bk12362.b-both_diff > .g-column,#bk12362.b-headlines > .column,#bk12362.b-headlines > .g-column,#bk12362.b-album > .column,#bk12362.b-album > .g-column,#bk12362.b-tab > .column,#bk12362.b-tab > .g-column,#bk12362.b-accordion > .column,#bk12362.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}


#imgsrc17643_1{width:100%;}
#imgsrc17634_1{width:100%;}


@media (max-width: 641px) {
	#imgsrc17643_1{width:100%;}
	#imgsrc17634_1{width:100%;}
}
