@charset "utf-8";

.-dress_49229be6f46449dea29223c71742567d .c-body {
	padding-bottom:16px;
	color:#000000;
	line-height:2;

}
.-dress_49229be6f46449dea29223c71742567d .c-title {
	font-size:20px;

}
.-dress_49229be6f46449dea29223c71742567d .c-hr {
	border-top:1px solid #b0b0b0;
	border-right:0px none #000;
	border-left:0px none #000;
	border-bottom:0px none #000;
	padding:0px 0px 36px;

}
.-dress_49229be6f46449dea29223c71742567d .c-large_headline {
	font-size:16px;
	padding:12px 0px 10px;

}
.-dress_49229be6f46449dea29223c71742567d .c-small_headline {
	line-height:1.5;
	vertical-align:middle;
	padding-left:5px;
	max-width:5000px;
	background-color:#35823c;
	color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d .c-page_title {
	font-size:20px;

}
.-dress_49229be6f46449dea29223c71742567d .c-blockquote {
	background:rgb(248,248,248);
	padding:1em;

}
.-dress_49229be6f46449dea29223c71742567d .c-enclosure {
	background:rgb(236,236,236);
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu li {
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_b li {
	font-size:18px;
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_b {
	text-align:right;
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-v li {
	color:#b0b0b0;
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_c li {
	border-style:none;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-h li a:hover {
	background:rgb(205,205,206);
	color:#888888;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-i li a:hover {
	background:rgb(248,248,248);
	color:#888888;
	box-shadow:0px 3px 0px rgba(205,205,206, 1);
	border:1px solid #f8f8f8;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-j .lavalamp-object {
	border-top:0px none #000;
	border-right:0px none #000;
	border-left:0px none #000;
	border-bottom:1px solid #cdcdce;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-g .lavalamp-object {
	background:rgb(248,248,248);

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-f > li > ul > li a:hover {
	color:#ffffff;
	background:rgb(205,205,206);
	opacity:1;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-f > li > ul li:first-child:before {
	border-bottom:5px solid #cdcdce;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-f > li > ul > li .c-unlink {
	background:rgb(248,248,248);

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-f > li > .c-unlink + ul:before {
	border-top:5px solid #cdcdce;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-f > li > a + ul:before {
	border-top:5px solid #cdcdce;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_d {
	background:rgb(248,248,248);

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_d li {
	border-width:0px;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e li {
	border-style:none;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_c {
	background:rgb(248,248,248);

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_c li a:hover {
	background:rgb(205,205,206);
	color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-v li .c-unlink {
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_a {
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_a li {
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_b {
	text-align:left;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_b li a {
	background-repeat:no-repeat;
	background-position:left center;
	background-image:url("images/img20151222161341276113.png");

}
.-dress_49229be6f46449dea29223c71742567d .c-menu li a {
	color:#b0b0b0;
	background-image:url("images/img20151006143719999814.png");
	background-repeat:no-repeat;
	background-position:4px center;
	border:0px none #000;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion li a {
	color:#b0b0b0;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-h li a {
	background:rgb(248,248,248);
	color:#b0b0b0;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-i li a {
	background:rgb(248,248,248);
	box-shadow:0px 3px 0px rgba(205,205,206, 1);
	color:#b0b0b0;
	border:1px solid #f8f8f8;

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-f > li > ul > li a {
	color:#b0b0b0;
	background:rgb(248,248,248);

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_d li a {
	background-color:transparent;
	background-image:url("images/transparence.png");

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_c li a {
	color:#b0b0b0;
	background-color:transparent;
	background-image:url("images/transparence.png");

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_a li a {
	color:#b0b0b0;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_c li .c-unlink {
	background-color:transparent;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_d li .c-unlink {
	background-color:transparent;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e {
	background-image:linear-gradient(to bottom,#f8f8f8 49.5%,#f2f2f2 50%);
	border-color:#f2f2f2;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e li a {
	background-color:transparent;
	background-image:url("images/transparence.png");

}
.-dress_49229be6f46449dea29223c71742567d .m-motion.-f > li > a:hover {
	background-color:transparent;
	opacity:1;
	border-style:none;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_e li a {
	background-image:linear-gradient(to bottom,#f8f8f8 49%,#f2f2f2 50%);

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_e li .c-unlink {
	background-image:linear-gradient(to bottom,#f8f8f8 49%,#f2f2f2 50%);

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_e {
	background-color:transparent;
	background-image:url("images/transparence.png");
	border-style:none;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e li ul {
	margin:0px;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_c li a:hover {
	background:rgb(176,176,176);
	color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_d li a:hover {
	color:#ffffff;
	background:rgb(176,176,176);

}
.-dress_49229be6f46449dea29223c71742567d .m-motion li a:hover {
	opacity:1;

}
.-dress_49229be6f46449dea29223c71742567d .c-menu li .c-current {
	color:#969696;

}
.-dress_49229be6f46449dea29223c71742567d .c-list_table {
	background:rgb(255, 255, 255);
	border:1px solid #b0b0b0;

}
.-dress_49229be6f46449dea29223c71742567d .c-list_table th {
	border-color:#b0b0b0;

}
.-dress_49229be6f46449dea29223c71742567d .c-breadcrumb a {
	color:#888888;
	font-weight:bold;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion_navigation a:hover {
	color:#ffffff;
	background:rgb(176,176,176);
	opacity:1;
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion_navigation a:hover {
	color:#ffffff;
	background:rgb(176,176,176);
	opacity:1;
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion .column {
	background:rgb(248,248,248);
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion .column {
	background:rgb(248,248,248);
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d .b-tab_contents {
	background:rgb(248,248,248);
	padding:1em;

}
.-dress_49229be6f46449dea29223c71742567d.b-tab_contents {
	background:rgb(248,248,248);
	padding:1em;

}
.-dress_49229be6f46449dea29223c71742567d .b-tab_navigation li a:hover {
	color:#ffffff;
	background:rgb(176,176,176);
	opacity:1;
	padding:10px 24px;

}
.-dress_49229be6f46449dea29223c71742567d.b-tab_navigation li a:hover {
	color:#ffffff;
	background:rgb(176,176,176);
	opacity:1;
	padding:10px 24px;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion_navigation a {
	color:#b0b0b0;
	background:rgb(236,236,236);
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion_navigation a {
	color:#b0b0b0;
	background:rgb(236,236,236);
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion_navigation.-active a {
	background:rgb(242,242,242);
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion_navigation.-active a {
	background:rgb(242,242,242);
	background-color:#ffffff;

}
.-dress_49229be6f46449dea29223c71742567d .b-tab_navigation li a {
	background:rgb(236,236,236);
	color:#b0b0b0;
	padding:10px 24px;

}
.-dress_49229be6f46449dea29223c71742567d.b-tab_navigation li a {
	background:rgb(236,236,236);
	color:#b0b0b0;
	padding:10px 24px;

}
.-dress_49229be6f46449dea29223c71742567d .b-tab_navigation li.-active a {
	background:rgb(248,248,248);
	padding:10px 24px;

}
.-dress_49229be6f46449dea29223c71742567d.b-tab_navigation li.-active a {
	background:rgb(248,248,248);
	padding:10px 24px;

}
.-dress_49229be6f46449dea29223c71742567d .a-footer .column {
	overflow:hidden;

}
.-dress_49229be6f46449dea29223c71742567d  {
	color:#b0b0b0;
	font-size:14px;
	font-size:1rem;
	line-height:1.6;

}
.-dress_49229be6f46449dea29223c71742567d a:hover {
	color:#ececec;

}
.-dress_49229be6f46449dea29223c71742567d .bg-window {
	background:rgb(255,255,255);

}
.-dress_49229be6f46449dea29223c71742567d a {
	color:#b0b0b0;

}
.-dress_49229be6f46449dea29223c71742567d .a-site_contents .b-accordion .b-accordion_navigation.-active a {
	line-height:1;

}
.-dress_49229be6f46449dea29223c71742567d .a-site_contents .c-body {
	padding:0px;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion .c-body {
	font-size:16px;
	color:#000000;
	margin:5px;
	line-height:1.5;
	padding:5px;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion .c-body {
	font-size:16px;
	color:#000000;
	margin:5px;
	line-height:1.5;
	padding:5px;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion .c-small_headline {
	line-height:1.7;
	background-color:#35823c;
	padding-left:10px;
	color:#fdffff;
	vertical-align:middle;
	max-width:5000px;
	margin-top:10px;
	margin-bottom:3px;
	letter-spacing:7px;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion .c-small_headline {
	line-height:1.7;
	background-color:#35823c;
	padding-left:10px;
	color:#fdffff;
	vertical-align:middle;
	max-width:5000px;
	margin-top:10px;
	margin-bottom:3px;
	letter-spacing:7px;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion .c-large_headline {
	padding:5px 5px 0px 5px;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion .c-large_headline {
	padding:5px 5px 0px 5px;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion .c-lead {
	color:#000000;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion .c-lead {
	color:#000000;

}
.-dress_49229be6f46449dea29223c71742567d .b-accordion .b-accordion_navigation a {
	color:#000000;

}
.-dress_49229be6f46449dea29223c71742567d.b-accordion .b-accordion_navigation a {
	color:#000000;

}
.-dress_49229be6f46449dea29223c71742567d .c-lead {
	color:#000000;

}
@media screen and (max-width: 641px) {
.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_b li {
		font-size:14px;
		line-height:0.8;
		text-align:left;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .m-motion.-f li {
		border-width:0px;
		border-color:#b0b0b0;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .m-motion.-g li {
		border-color:#b0b0b0;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .m-motion.-h li {
		border-color:#b0b0b0;
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .m-motion.-i li {
		border-color:#b0b0b0;
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .m-motion.-j li {
		border-color:#b0b0b0;
	
	}
	.-dress_49229be6f46449dea29223c71742567d #spNavigationTrigger {
		border:1px solid #333333;
		margin-right:15px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d #js-globalNavigation {
		border-width:0px;
		border-radius:0px;
		padding:20px;
		margin:0px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e li a:hover {
		background-position:0;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_a li a {
		background-image:url("images/transparence.png");
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_a li a {
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_a li .c-unlink {
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_b li a {
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-v.-menu_b li .c-unlink {
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_c {
		padding:0px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e {
		background-color:transparent;
		background-image:url("images/transparence.png");
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e li a {
		background-image:linear-gradient(to bottom,#f8f8f8 49%,#f2f2f2 50%);
		background-position:0;
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .c-menu.-menu_e li .c-unlink {
		background-image:linear-gradient(to bottom,#f8f8f8 49%,#f2f2f2 50%);
		border-style:none;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .b-tab_navigation li a:hover {
		padding:10px 18px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d.b-tab_navigation li a:hover {
		padding:10px 18px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .b-tab_navigation li a {
		padding:10px 18px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d.b-tab_navigation li a {
		padding:10px 18px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .b-tab_navigation li.-active a {
		padding:10px 18px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d.b-tab_navigation li.-active a {
		padding:10px 18px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d  {
		font-size:13px;
		font-size:0.9rem;
		line-height:1.4;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .b-accordion .c-body {
		font-size:15px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d.b-accordion .c-body {
		font-size:15px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d .b-accordion .c-large_headline {
		font-size:16px;
	
	}
	.-dress_49229be6f46449dea29223c71742567d.b-accordion .c-large_headline {
		font-size:16px;
	
	}
	
}
	/* created version 8.13*/