@charset "utf-8";

.-dress_025rd .a-header .c-menu li a {
	color:#f9f9f9;

}
.-dress_025rd .a-header .m-motion li a {
	color:#f9f9f9;

}
.-dress_025rd .a-header .c-menu.-menu_b li a {
	background-image:url("images/menuh_on.png");

}
.-dress_025rd .a-header .c-menu.-menu_b li .c-unlink {
	background-image:url("images/menuh_on.png");

}
.-dress_025rd .c-large_headline {
	font-weight:bold;
	line-height:1.6;
	font-size:160%;
	color:#333333;
	padding-bottom:30px;

}
.-dress_025rd .c-body {
	font-size:100%;
	line-height:2;
	padding-bottom:30px;

}
.-dress_025rd .c-lead {
	color:#5a5a5a;
	padding-bottom:30px;

}
.-dress_025rd .c-small_headline {
	font-size:160%;
	font-weight:bold;
	line-height:1.4;
	color:#333333;
	padding-bottom:12px;

}
.-dress_025rd .c-enclosure {
	border-color:#a5a5a5;

}
.-dress_025rd .c-note {
	color:#333333;

}
.-dress_025rd .c-credit {
	color:#333333;
	text-align:right;
	padding-top:14px;

}
.-dress_025rd .c-hr {
	border-color:#d4d1ce;
	padding-bottom:20px;
	margin-top:20px;

}
.-dress_025rd .c-title {
	color:#333333;

}
.-dress_025rd .c-page_title {
	color:#333333;

}
.-dress_025rd .c-menu.-menu_b li a {
	font-size:130%;
	background-image:url("images/menuh_20161013184233620.png");
	background-repeat:no-repeat;
	background-position:left center;
	text-indent:10px;
	margin-right:30px;
	margin-left:0px;

}
.-dress_025rd .c-menu.-menu_b {
	border-style:none;

}
.-dress_025rd .c-menu li {
	border-style:none;

}
.-dress_025rd .c-menu.-menu_a {
	border-style:none;

}
.-dress_025rd .c-menu li a {
	color:#373431;

}
.-dress_025rd .c-menu.-menu_b li {
	border-style:none;

}
.-dress_025rd .c-menu.-v.-menu_b li a {
	padding:0px 0px 10px 15px;

}
.-dress_025rd .c-menu.-v.-menu_b li {
	padding-bottom:20px;

}
.-dress_025rd .m-motion li a {
	text-decoration:none;

}
.-dress_025rd .c-menu.-menu_e li ul {
	margin-left:0px;

}
.-dress_025rd .c-menu.-menu_b li .c-unlink {
	background-image:url("images/menuh_20161013184233620.png");
	background-repeat:no-repeat;
	background-position:left center;
	text-indent:10px;
	font-size:130%;

}
.-dress_025rd .m-motion.-g .lavalamp-object {
	background-color:rgb(196,196,196);

}
.-dress_025rd .m-motion.-i li a {
	background-color:transparent;
	border-color:#111111;

}
.-dress_025rd .m-motion.-i li a:hover {
	border-color:#111111;

}
.-dress_025rd .m-motion.-h li a {
	background-color:rgb(17,17,17);
	color:#f9f9f9;

}
.-dress_025rd .c-menu.-menu_c {
	background-color:rgb(149,149,149);

}
.-dress_025rd .c-menu.-menu_c li a {
	background-color:rgb(149,149,149);

}
.-dress_025rd .c-menu.-menu_c li .c-unlink {
	background-color:rgb(149,149,149);

}
.-dress_025rd .c-menu.-menu_d {
	background-color:rgb(149,149,149);

}
.-dress_025rd .c-menu.-menu_d li a {
	background-color:rgb(149,149,149);

}
.-dress_025rd .c-menu.-menu_d li .c-unlink {
	background-color:rgb(149,149,149);

}
.-dress_025rd .c-menu.-menu_e {
	background-image:linear-gradient(to bottom,#2d2d2d 0%,#444444 100%);
	border-color:#000000;

}
.-dress_025rd .c-menu.-menu_e li a {
	background-image:linear-gradient(to bottom,#2d2d2d 0%,#444444 100%);
	color:#f9f9f9;

}
.-dress_025rd .c-menu.-menu_e li .c-unlink {
	background-image:linear-gradient(to bottom,#2d2d2d 0%,#444444 100%);

}
.-dress_025rd .m-motion.-j .lavalamp-object {
	border-top:3px dotted #959595;

}
.-dress_025rd .m-motion.-f > li > a + ul:before {
	border-style:none;

}
.-dress_025rd .m-motion.-f > li > .c-unlink + ul:before {
	border-style:none;

}
.-dress_025rd .m-motion.-f > li > ul li:first-child:before {
	border-style:none;

}
.-dress_025rd .m-motion.-f li a:hover {
	background-color:transparent;
	border-style:none;

}
.-dress_025rd .m-motion.-f > li > ul > li a {
	background-color:rgb(149,149,149);

}
.-dress_025rd .m-motion.-f > li > ul > li .c-unlink {
	background-color:rgb(149,149,149);
	color:#ffffff;

}
.-dress_025rd .m-motion.-f > li > ul > li a:hover {
	background-color:rgb(0,0,0);
	color:#ffffff;

}
.-dress_025rd .c-menu li .c-unlink {
	color:#666666;

}
.-dress_025rd .c-menu.-menu_d li .c-current {
	color:#f9f9f9;

}
.-dress_025rd .c-menu li a:hover {
	color:#666666;

}
.-dress_025rd .c-menu.-menu_e li a:hover {
	color:#ffffff;

}
.-dress_025rd .c-list_table {
	border-color:#dbdbdb;

}
.-dress_025rd .c-list_table th {
	width:30%;
	border-color:#dbdbdb;

}
.-dress_025rd .c-list_table td {
	border-color:#dbdbdb;

}
.-dress_025rd .c-cart .c-cart_buying_area {
	background-color:transparent;

}
.-dress_025rd .c-cart .c-cart_table th {
	border-color:#999999;

}
.-dress_025rd .c-cart .c-cart_table td {
	border-color:#999999;

}
.-dress_025rd .c-cart .c-list_table th {
	background-color:rgb(149,149,149);

}
.-dress_025rd .c-link_top {
	background-repeat:no-repeat;
	background-position:top right;
	background-image:url("images/img20151204190222123909.png");
	padding-right:75px;
	padding-bottom:5px;

}
.-dress_025rd .c-link_top span {
	display:none;

}
.-dress_025rd .b-tab_navigation li a {
	color:#ffffff;
	background-color:rgb(170,170,170);

}
.-dress_025rd.b-tab_navigation li a {
	color:#ffffff;
	background-color:rgb(170,170,170);

}
.-dress_025rd .b-tab_navigation li.-active a {
	color:#493c32;
	background-color:rgb(238,238,238);

}
.-dress_025rd.b-tab_navigation li.-active a {
	color:#493c32;
	background-color:rgb(238,238,238);

}
.-dress_025rd .b-tab_navigation li a:hover {
	color:#ffffff;
	background-color:rgb(102,102,102);
	opacity:1;

}
.-dress_025rd.b-tab_navigation li a:hover {
	color:#ffffff;
	background-color:rgb(102,102,102);
	opacity:1;

}
.-dress_025rd .b-accordion_navigation.-active a {
	color:#493c32;
	background-color:rgb(238,238,238);

}
.-dress_025rd.b-accordion_navigation.-active a {
	color:#493c32;
	background-color:rgb(238,238,238);

}
.-dress_025rd .b-accordion_navigation a:hover {
	color:#ffffff;
	background-color:rgb(102,102,102);

}
.-dress_025rd.b-accordion_navigation a:hover {
	color:#ffffff;
	background-color:rgb(102,102,102);

}
.-dress_025rd .b-accordion_navigation a {
	color:#ffffff;
	background-color:rgb(170,170,170);

}
.-dress_025rd.b-accordion_navigation a {
	color:#ffffff;
	background-color:rgb(170,170,170);

}
.-dress_025rd .b-accordion .column {
	background-color:transparent;

}
.-dress_025rd.b-accordion .column {
	background-color:transparent;

}
.-dress_025rd .b-tab_contents {
	background-color:transparent;

}
.-dress_025rd.b-tab_contents {
	background-color:transparent;

}
.-dress_025rd .b-headlines .c-body {
	font-size:90%;
	line-height:1.6;

}
.-dress_025rd.b-headlines .c-body {
	font-size:90%;
	line-height:1.6;

}
.-dress_025rd .a-header {
	background-color:rgb(45,45,45);
	color:#f9f9f9;

}
.-dress_025rd .a-footer {
	color:#000000;
	line-height:1;

}
.-dress_025rd .a-header .c-body {
	color:#ffffff;
	text-align:right;
	font-size:80%;

}
.-dress_025rd .a-header .c-page_title {
	color:#ffffff;

}
.-dress_025rd .a-main .c-body {
	padding-top:6px;

}
.-dress_025rd .a-header a {
	color:#f9f9f9;

}
.-dress_025rd .a-header .c-credit {
	color:#f9f9f9;

}
.-dress_025rd .a-header .c-lead {
	color:#f9f9f9;

}
.-dress_025rd .a-header .c-small_headline {
	color:#f9f9f9;

}
.-dress_025rd .a-header .c-large_headline {
	color:#f9f9f9;

}
.-dress_025rd .a-header .c-title {
	color:#f9f9f9;

}
.-dress_025rd .a-header .c-note {
	color:#f9f9f9;

}
.-dress_025rd .a-footer .c-body {
	font-size:75%;

}
.-dress_025rd .a-footer .c-credit {
	font-size:75%;

}
.-dress_025rd .a-header .b-headlines .column {
	text-align:right;

}
.-dress_025rd .bg-window {
	background-repeat:repeat;
	background-position:top left;
	background-color:rgb(255,255,255);

}
.-dress_025rd  {
	color:#333333;
	font-size:14px;

}
.-dress_025rd a:hover {
	opacity:1;
	color:#999999;

}
@media screen and (max-width: 641px) {
.-dress_025rd .a-header .m-motion.-f > li {
		text-align:left;
	
	}
	.-dress_025rd .c-large_headline {
		font-size:114%;
		line-height:1.5;
		padding-bottom:6px;
	
	}
	.-dress_025rd .c-lead {
		padding-bottom:10px;
	
	}
	.-dress_025rd .c-body {
		font-size:96%;
		line-height:1.5;
		padding-bottom:6px;
	
	}
	.-dress_025rd .c-small_headline {
		font-size:110%;
		padding-bottom:6px;
	
	}
	.-dress_025rd .c-credit {
		text-align:center;
	
	}
	.-dress_025rd #spNavigationTrigger {
		background-color:rgb(227,198,40);
		border-style:none;
		margin-right:15px;
	
	}
	.-dress_025rd .c-menu.-v li a {
		border-style:none;
	
	}
	.-dress_025rd .c-menu.-menu_b li a {
		font-size:110%;
	
	}
	.-dress_025rd .c-menu.-v.-menu_b li a {
		padding-bottom:0px;
	
	}
	.-dress_025rd .c-menu.-v.-menu_b li {
		padding-bottom:10px;
	
	}
	.-dress_025rd #spNavigationTrigger .c-sp-navigation_line1,.-dress_025rd #spNavigationTrigger .c-sp-navigation_line2,.-dress_025rd #spNavigationTrigger .c-sp-navigation_line3 {
		border-color:#787878;
	
	}
	.-dress_025rd .m-motion.-i li {
		border-style:none;
	
	}
	.-dress_025rd .m-motion.-h li {
		border-style:none;
	
	}
	.-dress_025rd .c-menu.-menu_c {
		padding-right:0px;
		padding-left:0px;
	
	}
	.-dress_025rd .m-motion.-f > li > ul > li a {
		background-color:transparent;
	
	}
	.-dress_025rd .m-motion.-f > li > ul > li .c-unlink {
		background-color:transparent;
		color:#000000;
	
	}
	.-dress_025rd .m-motion.-f > li > ul > li a:hover {
		color:#666666;
		background-color:transparent;
	
	}
	.-dress_025rd .c-menu.-v.-menu_a li .c-unlink {
		border-style:none;
	
	}
	.-dress_025rd .c-menu.-v.-menu_b li .c-unlink {
		border-style:none;
	
	}
	.-dress_025rd #js-globalNavigation .c-menu li,.-dress_025rd #js-globalNavigation .m-motion li {
		border-style:none;
		margin-top:10px;
		margin-bottom:10px;
	
	}
	.-dress_025rd #js-globalNavigation {
		background-color:transparent;
		width:94%;
		margin-top:3%;
		margin-right:3%;
		margin-left:3%;
	
	}
	.-dress_025rd #js-globalNavigation .c-menu,.-dress_025rd #js-globalNavigation .m-motion {
		background-color:rgb(255,255,255);
		background-image:url("images/transparent.gif");
		border-bottom:8px double #e3c628;
		padding-right:10px;
		padding-left:10px;
	
	}
	.-dress_025rd .m-motion.-f {
		line-height:2;
		text-indent:10px;
	
	}
	.-dress_025rd .m-motion.-f > li > ul > li {
		text-indent:20px;
		padding:0px;
	
	}
	.-dress_025rd #js-globalNavigation .c-menu li.c-sp-closer a,.-dress_025rd #js-globalNavigation .m-motion li.c-sp-closer a {
		text-align:right;
		background-color:transparent;
		background-image:url("images/transparent.gif");
		border-style:none;
		padding:10px;
		margin:0px;
	
	}
	.-dress_025rd #js-globalNavigation .c-menu li a,.-dress_025rd #js-globalNavigation .m-motion li a {
		color:#000000;
		line-height:2;
		background-image:url("images/transparent.gif");
		text-align:left;
		background-color:transparent;
		display:block;
		border-style:none;
		padding-top:0px;
		padding-bottom:0px;
		margin:0px;
	
	}
	.-dress_025rd #js-globalNavigation .c-menu li .c-unlink,.-dress_025rd #js-globalNavigation .m-motion li .c-unlink {
		color:#000000;
		line-height:2;
		background-image:url("images/transparent.gif");
		text-align:left;
		background-color:transparent;
		border-style:none;
		padding-top:0px;
		padding-bottom:0px;
		margin:0px;
	
	}
	.-dress_025rd .c-menu.-menu_b li .c-unlink {
		font-size:110%;
	
	}
	.-dress_025rd .m-motion.-h li a {
		font-size:110%;
	
	}
	.-dress_025rd .m-motion.-h li .c-unlink {
		font-size:110%;
	
	}
	.-dress_025rd .c-list_table th {
		width:100%;
	
	}
	.-dress_025rd .a-footer .m-motion.-f > li {
		text-align:left;
	
	}
	.-dress_025rd .b-plain .c-body {
		text-align:left;
	
	}
	.-dress_025rd.b-plain .c-body {
		text-align:left;
	
	}
	.-dress_025rd .b-plain .c-small_headline {
		text-align:left;
	
	}
	.-dress_025rd.b-plain .c-small_headline {
		text-align:left;
	
	}
	.-dress_025rd .a-footer {
		text-align:center;
	
	}
	.-dress_025rd .a-header .c-body {
		color:#ffffff;
		text-align:center;
	
	}
	.-dress_025rd .a-site_contents {
		padding-right:0px;
		padding-left:0px;
	
	}
	.-dress_025rd .a-main .c-body {
		padding-top:6px;
		padding-bottom:20px;
	
	}
	.-dress_025rd .a-main .c-small_headline {
		padding-top:10px;
	
	}
	.-dress_025rd .a-header .b-plain .column {
		text-align:center;
	
	}
	.-dress_025rd .a-header .b-headlines .column {
		text-align:center;
	
	}
	
}
	/* created version 8.13*/