@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-ghost_header,#a-billboard,#a-site_contents,#a-footer { max-width:100%; }
#a-site_contents { max-width:100%; }
@media (max-width: 641px) {

}


#page .bg-document {
}
#page {
}

#a-header {
}
#a-ghost_header {
}
#a-billboard { padding:0px 0px 0px 0px ;
}
#a-main {
}
#a-side-a {
}
#a-side-b {
}
#a-footer {
}
#a-site_contents {
}

@media (max-width: 641px) {
#page .bg-document {  
  }
#page {  
  }
	#a-header {padding:0px 0px 0px 0px;	}
	#a-ghost_header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk11312 { background-color:#1E4F24; }
#bk11363 { background-color:#FBFBE1; }
#bk11363 > div { padding-left: 0px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11313 { background-color:#1E4F24; }
#bk11313 > div { padding-left: 0px; padding-top: 17px; padding-right: 0px; padding-bottom: 15px;  } 
#bk11320 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11364 { background-color:#1E4F24; }
#bk11364 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 20px;  } 
#bk11314 { background-color:#1E4F24; }
#bk11314 > div { padding-left: 0px; padding-top: 10px; padding-right: 0px; padding-bottom: 15px;  } 
#bk11318 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11319 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11323 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11324 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11325 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11326 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11322 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11327 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11328 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11329 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11330 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11331 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11332 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11333 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11334 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11335 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11336 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11337 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11338 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11339 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11340 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11341 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11342 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11343 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11344 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11365 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11345 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11346 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11347 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11348 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11349 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11350 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11351 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11352 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11353 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11355 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11356 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11357 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11358 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11359 > div { padding-left: 30px; padding-top: 10px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11360 > div { padding-left: 30px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 


@media (max-width: 641px) {
		#bk11312.b-plain > .column,#bk11312.b-plain > .g-column,#bk11312.b-both_diff > .column,#bk11312.b-both_diff > .g-column,#bk11312.b-headlines > .column,#bk11312.b-headlines > .g-column,#bk11312.b-album > .column,#bk11312.b-album > .g-column,#bk11312.b-tab > .column,#bk11312.b-tab > .g-column,#bk11312.b-accordion > .column,#bk11312.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11315.b-plain > .column,#bk11315.b-plain > .g-column,#bk11315.b-both_diff > .column,#bk11315.b-both_diff > .g-column,#bk11315.b-headlines > .column,#bk11315.b-headlines > .g-column,#bk11315.b-album > .column,#bk11315.b-album > .g-column,#bk11315.b-tab > .column,#bk11315.b-tab > .g-column,#bk11315.b-accordion > .column,#bk11315.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11316.b-plain > .column,#bk11316.b-plain > .g-column,#bk11316.b-both_diff > .column,#bk11316.b-both_diff > .g-column,#bk11316.b-headlines > .column,#bk11316.b-headlines > .g-column,#bk11316.b-album > .column,#bk11316.b-album > .g-column,#bk11316.b-tab > .column,#bk11316.b-tab > .g-column,#bk11316.b-accordion > .column,#bk11316.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11361.b-plain > .column,#bk11361.b-plain > .g-column,#bk11361.b-both_diff > .column,#bk11361.b-both_diff > .g-column,#bk11361.b-headlines > .column,#bk11361.b-headlines > .g-column,#bk11361.b-album > .column,#bk11361.b-album > .g-column,#bk11361.b-tab > .column,#bk11361.b-tab > .g-column,#bk11361.b-accordion > .column,#bk11361.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11362.b-plain > .column,#bk11362.b-plain > .g-column,#bk11362.b-both_diff > .column,#bk11362.b-both_diff > .g-column,#bk11362.b-headlines > .column,#bk11362.b-headlines > .g-column,#bk11362.b-album > .column,#bk11362.b-album > .g-column,#bk11362.b-tab > .column,#bk11362.b-tab > .g-column,#bk11362.b-accordion > .column,#bk11362.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11363.b-plain > .column,#bk11363.b-plain > .g-column,#bk11363.b-both_diff > .column,#bk11363.b-both_diff > .g-column,#bk11363.b-headlines > .column,#bk11363.b-headlines > .g-column,#bk11363.b-album > .column,#bk11363.b-album > .g-column,#bk11363.b-tab > .column,#bk11363.b-tab > .g-column,#bk11363.b-accordion > .column,#bk11363.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11363 > div { padding: 0px; }
		#bk11313.b-plain > .column,#bk11313.b-plain > .g-column,#bk11313.b-both_diff > .column,#bk11313.b-both_diff > .g-column,#bk11313.b-headlines > .column,#bk11313.b-headlines > .g-column,#bk11313.b-album > .column,#bk11313.b-album > .g-column,#bk11313.b-tab > .column,#bk11313.b-tab > .g-column,#bk11313.b-accordion > .column,#bk11313.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11313 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk11320.b-plain > .column,#bk11320.b-plain > .g-column,#bk11320.b-both_diff > .column,#bk11320.b-both_diff > .g-column,#bk11320.b-headlines > .column,#bk11320.b-headlines > .g-column,#bk11320.b-album > .column,#bk11320.b-album > .g-column,#bk11320.b-tab > .column,#bk11320.b-tab > .g-column,#bk11320.b-accordion > .column,#bk11320.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11320 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11364.b-plain > .column,#bk11364.b-plain > .g-column,#bk11364.b-both_diff > .column,#bk11364.b-both_diff > .g-column,#bk11364.b-headlines > .column,#bk11364.b-headlines > .g-column,#bk11364.b-album > .column,#bk11364.b-album > .g-column,#bk11364.b-tab > .column,#bk11364.b-tab > .g-column,#bk11364.b-accordion > .column,#bk11364.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11364 > div { padding: 0px; }
		#bk11314.b-plain > .column,#bk11314.b-plain > .g-column,#bk11314.b-both_diff > .column,#bk11314.b-both_diff > .g-column,#bk11314.b-headlines > .column,#bk11314.b-headlines > .g-column,#bk11314.b-album > .column,#bk11314.b-album > .g-column,#bk11314.b-tab > .column,#bk11314.b-tab > .g-column,#bk11314.b-accordion > .column,#bk11314.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11314 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk11318.b-plain > .column,#bk11318.b-plain > .g-column,#bk11318.b-both_diff > .column,#bk11318.b-both_diff > .g-column,#bk11318.b-headlines > .column,#bk11318.b-headlines > .g-column,#bk11318.b-album > .column,#bk11318.b-album > .g-column,#bk11318.b-tab > .column,#bk11318.b-tab > .g-column,#bk11318.b-accordion > .column,#bk11318.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11318 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11319.b-plain > .column,#bk11319.b-plain > .g-column,#bk11319.b-both_diff > .column,#bk11319.b-both_diff > .g-column,#bk11319.b-headlines > .column,#bk11319.b-headlines > .g-column,#bk11319.b-album > .column,#bk11319.b-album > .g-column,#bk11319.b-tab > .column,#bk11319.b-tab > .g-column,#bk11319.b-accordion > .column,#bk11319.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11319 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11323.b-plain > .column,#bk11323.b-plain > .g-column,#bk11323.b-both_diff > .column,#bk11323.b-both_diff > .g-column,#bk11323.b-headlines > .column,#bk11323.b-headlines > .g-column,#bk11323.b-album > .column,#bk11323.b-album > .g-column,#bk11323.b-tab > .column,#bk11323.b-tab > .g-column,#bk11323.b-accordion > .column,#bk11323.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11323 > div { padding-left: 15px; padding-top: 7px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11324.b-plain > .column,#bk11324.b-plain > .g-column,#bk11324.b-both_diff > .column,#bk11324.b-both_diff > .g-column,#bk11324.b-headlines > .column,#bk11324.b-headlines > .g-column,#bk11324.b-album > .column,#bk11324.b-album > .g-column,#bk11324.b-tab > .column,#bk11324.b-tab > .g-column,#bk11324.b-accordion > .column,#bk11324.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11324 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11325.b-plain > .column,#bk11325.b-plain > .g-column,#bk11325.b-both_diff > .column,#bk11325.b-both_diff > .g-column,#bk11325.b-headlines > .column,#bk11325.b-headlines > .g-column,#bk11325.b-album > .column,#bk11325.b-album > .g-column,#bk11325.b-tab > .column,#bk11325.b-tab > .g-column,#bk11325.b-accordion > .column,#bk11325.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11325 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11326.b-plain > .column,#bk11326.b-plain > .g-column,#bk11326.b-both_diff > .column,#bk11326.b-both_diff > .g-column,#bk11326.b-headlines > .column,#bk11326.b-headlines > .g-column,#bk11326.b-album > .column,#bk11326.b-album > .g-column,#bk11326.b-tab > .column,#bk11326.b-tab > .g-column,#bk11326.b-accordion > .column,#bk11326.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11326 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11322.b-plain > .column,#bk11322.b-plain > .g-column,#bk11322.b-both_diff > .column,#bk11322.b-both_diff > .g-column,#bk11322.b-headlines > .column,#bk11322.b-headlines > .g-column,#bk11322.b-album > .column,#bk11322.b-album > .g-column,#bk11322.b-tab > .column,#bk11322.b-tab > .g-column,#bk11322.b-accordion > .column,#bk11322.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11322 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11327.b-plain > .column,#bk11327.b-plain > .g-column,#bk11327.b-both_diff > .column,#bk11327.b-both_diff > .g-column,#bk11327.b-headlines > .column,#bk11327.b-headlines > .g-column,#bk11327.b-album > .column,#bk11327.b-album > .g-column,#bk11327.b-tab > .column,#bk11327.b-tab > .g-column,#bk11327.b-accordion > .column,#bk11327.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11327 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11328.b-plain > .column,#bk11328.b-plain > .g-column,#bk11328.b-both_diff > .column,#bk11328.b-both_diff > .g-column,#bk11328.b-headlines > .column,#bk11328.b-headlines > .g-column,#bk11328.b-album > .column,#bk11328.b-album > .g-column,#bk11328.b-tab > .column,#bk11328.b-tab > .g-column,#bk11328.b-accordion > .column,#bk11328.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11328 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11329.b-plain > .column,#bk11329.b-plain > .g-column,#bk11329.b-both_diff > .column,#bk11329.b-both_diff > .g-column,#bk11329.b-headlines > .column,#bk11329.b-headlines > .g-column,#bk11329.b-album > .column,#bk11329.b-album > .g-column,#bk11329.b-tab > .column,#bk11329.b-tab > .g-column,#bk11329.b-accordion > .column,#bk11329.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11329 > div { padding-left: 15px; padding-top: 7px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11330.b-plain > .column,#bk11330.b-plain > .g-column,#bk11330.b-both_diff > .column,#bk11330.b-both_diff > .g-column,#bk11330.b-headlines > .column,#bk11330.b-headlines > .g-column,#bk11330.b-album > .column,#bk11330.b-album > .g-column,#bk11330.b-tab > .column,#bk11330.b-tab > .g-column,#bk11330.b-accordion > .column,#bk11330.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11330 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11331.b-plain > .column,#bk11331.b-plain > .g-column,#bk11331.b-both_diff > .column,#bk11331.b-both_diff > .g-column,#bk11331.b-headlines > .column,#bk11331.b-headlines > .g-column,#bk11331.b-album > .column,#bk11331.b-album > .g-column,#bk11331.b-tab > .column,#bk11331.b-tab > .g-column,#bk11331.b-accordion > .column,#bk11331.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11331 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11332.b-plain > .column,#bk11332.b-plain > .g-column,#bk11332.b-both_diff > .column,#bk11332.b-both_diff > .g-column,#bk11332.b-headlines > .column,#bk11332.b-headlines > .g-column,#bk11332.b-album > .column,#bk11332.b-album > .g-column,#bk11332.b-tab > .column,#bk11332.b-tab > .g-column,#bk11332.b-accordion > .column,#bk11332.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11332 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11333.b-plain > .column,#bk11333.b-plain > .g-column,#bk11333.b-both_diff > .column,#bk11333.b-both_diff > .g-column,#bk11333.b-headlines > .column,#bk11333.b-headlines > .g-column,#bk11333.b-album > .column,#bk11333.b-album > .g-column,#bk11333.b-tab > .column,#bk11333.b-tab > .g-column,#bk11333.b-accordion > .column,#bk11333.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11333 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11334.b-plain > .column,#bk11334.b-plain > .g-column,#bk11334.b-both_diff > .column,#bk11334.b-both_diff > .g-column,#bk11334.b-headlines > .column,#bk11334.b-headlines > .g-column,#bk11334.b-album > .column,#bk11334.b-album > .g-column,#bk11334.b-tab > .column,#bk11334.b-tab > .g-column,#bk11334.b-accordion > .column,#bk11334.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11334 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11335.b-plain > .column,#bk11335.b-plain > .g-column,#bk11335.b-both_diff > .column,#bk11335.b-both_diff > .g-column,#bk11335.b-headlines > .column,#bk11335.b-headlines > .g-column,#bk11335.b-album > .column,#bk11335.b-album > .g-column,#bk11335.b-tab > .column,#bk11335.b-tab > .g-column,#bk11335.b-accordion > .column,#bk11335.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11335 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11336.b-plain > .column,#bk11336.b-plain > .g-column,#bk11336.b-both_diff > .column,#bk11336.b-both_diff > .g-column,#bk11336.b-headlines > .column,#bk11336.b-headlines > .g-column,#bk11336.b-album > .column,#bk11336.b-album > .g-column,#bk11336.b-tab > .column,#bk11336.b-tab > .g-column,#bk11336.b-accordion > .column,#bk11336.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11336 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11337.b-plain > .column,#bk11337.b-plain > .g-column,#bk11337.b-both_diff > .column,#bk11337.b-both_diff > .g-column,#bk11337.b-headlines > .column,#bk11337.b-headlines > .g-column,#bk11337.b-album > .column,#bk11337.b-album > .g-column,#bk11337.b-tab > .column,#bk11337.b-tab > .g-column,#bk11337.b-accordion > .column,#bk11337.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11337 > div { padding-left: 15px; padding-top: 7px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11338.b-plain > .column,#bk11338.b-plain > .g-column,#bk11338.b-both_diff > .column,#bk11338.b-both_diff > .g-column,#bk11338.b-headlines > .column,#bk11338.b-headlines > .g-column,#bk11338.b-album > .column,#bk11338.b-album > .g-column,#bk11338.b-tab > .column,#bk11338.b-tab > .g-column,#bk11338.b-accordion > .column,#bk11338.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11338 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11339.b-plain > .column,#bk11339.b-plain > .g-column,#bk11339.b-both_diff > .column,#bk11339.b-both_diff > .g-column,#bk11339.b-headlines > .column,#bk11339.b-headlines > .g-column,#bk11339.b-album > .column,#bk11339.b-album > .g-column,#bk11339.b-tab > .column,#bk11339.b-tab > .g-column,#bk11339.b-accordion > .column,#bk11339.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11339 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11340.b-plain > .column,#bk11340.b-plain > .g-column,#bk11340.b-both_diff > .column,#bk11340.b-both_diff > .g-column,#bk11340.b-headlines > .column,#bk11340.b-headlines > .g-column,#bk11340.b-album > .column,#bk11340.b-album > .g-column,#bk11340.b-tab > .column,#bk11340.b-tab > .g-column,#bk11340.b-accordion > .column,#bk11340.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11340 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11341.b-plain > .column,#bk11341.b-plain > .g-column,#bk11341.b-both_diff > .column,#bk11341.b-both_diff > .g-column,#bk11341.b-headlines > .column,#bk11341.b-headlines > .g-column,#bk11341.b-album > .column,#bk11341.b-album > .g-column,#bk11341.b-tab > .column,#bk11341.b-tab > .g-column,#bk11341.b-accordion > .column,#bk11341.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11341 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11342.b-plain > .column,#bk11342.b-plain > .g-column,#bk11342.b-both_diff > .column,#bk11342.b-both_diff > .g-column,#bk11342.b-headlines > .column,#bk11342.b-headlines > .g-column,#bk11342.b-album > .column,#bk11342.b-album > .g-column,#bk11342.b-tab > .column,#bk11342.b-tab > .g-column,#bk11342.b-accordion > .column,#bk11342.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11342 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11343.b-plain > .column,#bk11343.b-plain > .g-column,#bk11343.b-both_diff > .column,#bk11343.b-both_diff > .g-column,#bk11343.b-headlines > .column,#bk11343.b-headlines > .g-column,#bk11343.b-album > .column,#bk11343.b-album > .g-column,#bk11343.b-tab > .column,#bk11343.b-tab > .g-column,#bk11343.b-accordion > .column,#bk11343.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11343 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11344.b-plain > .column,#bk11344.b-plain > .g-column,#bk11344.b-both_diff > .column,#bk11344.b-both_diff > .g-column,#bk11344.b-headlines > .column,#bk11344.b-headlines > .g-column,#bk11344.b-album > .column,#bk11344.b-album > .g-column,#bk11344.b-tab > .column,#bk11344.b-tab > .g-column,#bk11344.b-accordion > .column,#bk11344.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11344 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11365.b-plain > .column,#bk11365.b-plain > .g-column,#bk11365.b-both_diff > .column,#bk11365.b-both_diff > .g-column,#bk11365.b-headlines > .column,#bk11365.b-headlines > .g-column,#bk11365.b-album > .column,#bk11365.b-album > .g-column,#bk11365.b-tab > .column,#bk11365.b-tab > .g-column,#bk11365.b-accordion > .column,#bk11365.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11365 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11345.b-plain > .column,#bk11345.b-plain > .g-column,#bk11345.b-both_diff > .column,#bk11345.b-both_diff > .g-column,#bk11345.b-headlines > .column,#bk11345.b-headlines > .g-column,#bk11345.b-album > .column,#bk11345.b-album > .g-column,#bk11345.b-tab > .column,#bk11345.b-tab > .g-column,#bk11345.b-accordion > .column,#bk11345.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11345 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11346.b-plain > .column,#bk11346.b-plain > .g-column,#bk11346.b-both_diff > .column,#bk11346.b-both_diff > .g-column,#bk11346.b-headlines > .column,#bk11346.b-headlines > .g-column,#bk11346.b-album > .column,#bk11346.b-album > .g-column,#bk11346.b-tab > .column,#bk11346.b-tab > .g-column,#bk11346.b-accordion > .column,#bk11346.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11346 > div { padding-left: 15px; padding-top: 7px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11347.b-plain > .column,#bk11347.b-plain > .g-column,#bk11347.b-both_diff > .column,#bk11347.b-both_diff > .g-column,#bk11347.b-headlines > .column,#bk11347.b-headlines > .g-column,#bk11347.b-album > .column,#bk11347.b-album > .g-column,#bk11347.b-tab > .column,#bk11347.b-tab > .g-column,#bk11347.b-accordion > .column,#bk11347.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11347 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11348.b-plain > .column,#bk11348.b-plain > .g-column,#bk11348.b-both_diff > .column,#bk11348.b-both_diff > .g-column,#bk11348.b-headlines > .column,#bk11348.b-headlines > .g-column,#bk11348.b-album > .column,#bk11348.b-album > .g-column,#bk11348.b-tab > .column,#bk11348.b-tab > .g-column,#bk11348.b-accordion > .column,#bk11348.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11348 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11349.b-plain > .column,#bk11349.b-plain > .g-column,#bk11349.b-both_diff > .column,#bk11349.b-both_diff > .g-column,#bk11349.b-headlines > .column,#bk11349.b-headlines > .g-column,#bk11349.b-album > .column,#bk11349.b-album > .g-column,#bk11349.b-tab > .column,#bk11349.b-tab > .g-column,#bk11349.b-accordion > .column,#bk11349.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11349 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11350.b-plain > .column,#bk11350.b-plain > .g-column,#bk11350.b-both_diff > .column,#bk11350.b-both_diff > .g-column,#bk11350.b-headlines > .column,#bk11350.b-headlines > .g-column,#bk11350.b-album > .column,#bk11350.b-album > .g-column,#bk11350.b-tab > .column,#bk11350.b-tab > .g-column,#bk11350.b-accordion > .column,#bk11350.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11350 > div { padding-left: 15px; padding-top: 7px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11351.b-plain > .column,#bk11351.b-plain > .g-column,#bk11351.b-both_diff > .column,#bk11351.b-both_diff > .g-column,#bk11351.b-headlines > .column,#bk11351.b-headlines > .g-column,#bk11351.b-album > .column,#bk11351.b-album > .g-column,#bk11351.b-tab > .column,#bk11351.b-tab > .g-column,#bk11351.b-accordion > .column,#bk11351.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11351 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11352.b-plain > .column,#bk11352.b-plain > .g-column,#bk11352.b-both_diff > .column,#bk11352.b-both_diff > .g-column,#bk11352.b-headlines > .column,#bk11352.b-headlines > .g-column,#bk11352.b-album > .column,#bk11352.b-album > .g-column,#bk11352.b-tab > .column,#bk11352.b-tab > .g-column,#bk11352.b-accordion > .column,#bk11352.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11352 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11353.b-plain > .column,#bk11353.b-plain > .g-column,#bk11353.b-both_diff > .column,#bk11353.b-both_diff > .g-column,#bk11353.b-headlines > .column,#bk11353.b-headlines > .g-column,#bk11353.b-album > .column,#bk11353.b-album > .g-column,#bk11353.b-tab > .column,#bk11353.b-tab > .g-column,#bk11353.b-accordion > .column,#bk11353.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11353 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11355.b-plain > .column,#bk11355.b-plain > .g-column,#bk11355.b-both_diff > .column,#bk11355.b-both_diff > .g-column,#bk11355.b-headlines > .column,#bk11355.b-headlines > .g-column,#bk11355.b-album > .column,#bk11355.b-album > .g-column,#bk11355.b-tab > .column,#bk11355.b-tab > .g-column,#bk11355.b-accordion > .column,#bk11355.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11355 > div { padding-left: 15px; padding-top: 7px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11356.b-plain > .column,#bk11356.b-plain > .g-column,#bk11356.b-both_diff > .column,#bk11356.b-both_diff > .g-column,#bk11356.b-headlines > .column,#bk11356.b-headlines > .g-column,#bk11356.b-album > .column,#bk11356.b-album > .g-column,#bk11356.b-tab > .column,#bk11356.b-tab > .g-column,#bk11356.b-accordion > .column,#bk11356.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11356 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11357.b-plain > .column,#bk11357.b-plain > .g-column,#bk11357.b-both_diff > .column,#bk11357.b-both_diff > .g-column,#bk11357.b-headlines > .column,#bk11357.b-headlines > .g-column,#bk11357.b-album > .column,#bk11357.b-album > .g-column,#bk11357.b-tab > .column,#bk11357.b-tab > .g-column,#bk11357.b-accordion > .column,#bk11357.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11357 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11358.b-plain > .column,#bk11358.b-plain > .g-column,#bk11358.b-both_diff > .column,#bk11358.b-both_diff > .g-column,#bk11358.b-headlines > .column,#bk11358.b-headlines > .g-column,#bk11358.b-album > .column,#bk11358.b-album > .g-column,#bk11358.b-tab > .column,#bk11358.b-tab > .g-column,#bk11358.b-accordion > .column,#bk11358.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11358 > div { padding-left: 15px; padding-top: 7px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11359.b-plain > .column,#bk11359.b-plain > .g-column,#bk11359.b-both_diff > .column,#bk11359.b-both_diff > .g-column,#bk11359.b-headlines > .column,#bk11359.b-headlines > .g-column,#bk11359.b-album > .column,#bk11359.b-album > .g-column,#bk11359.b-tab > .column,#bk11359.b-tab > .g-column,#bk11359.b-accordion > .column,#bk11359.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11359 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11360.b-plain > .column,#bk11360.b-plain > .g-column,#bk11360.b-both_diff > .column,#bk11360.b-both_diff > .g-column,#bk11360.b-headlines > .column,#bk11360.b-headlines > .g-column,#bk11360.b-album > .column,#bk11360.b-album > .g-column,#bk11360.b-tab > .column,#bk11360.b-tab > .g-column,#bk11360.b-accordion > .column,#bk11360.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11360 > div { padding-left: 15px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px;  } 
	}


#imgsrc14690_1{width:150px;}
#imgsrc14650_1{width:150px;}
#imgsrc14692_1{width:150px;}
#imgsrc14654_1{width:150px;}
#imgsrc14698_1{width:150px;}
#imgsrc14732_1{width:150px;}
#imgsrc14652_1{width:150px;}
#imgsrc14696_1{width:150px;}
#imgsrc14730_1{width:150px;}
#imgsrc14658_1{width:150px;}
#imgsrc14656_1{width:150px;}
#imgsrc14662_1{width:150px;}
#imgsrc14660_1{width:150px;}
#imgsrc14706_1{width:150px;}
#imgsrc14704_1{width:150px;}
#imgsrc14628_1{width:150px;}
#imgsrc14708_1{width:150px;}
#imgsrc14622_1{width:150px;}
#imgsrc14666_1{width:150px;}
#imgsrc14664_1{width:150px;}
#imgsrc14702_1{width:150px;}
#imgsrc14700_1{width:150px;}
#imgsrc14624_1{width:150px;}
#imgsrc14668_1{width:150px;}
#imgsrc14672_1{width:150px;}
#imgsrc14670_1{width:150px;}
#imgsrc14718_1{width:150px;}
#imgsrc14638_1{width:150px;}
#imgsrc14632_1{width:150px;}
#imgsrc14676_1{width:150px;}
#imgsrc14630_1{width:150px;}
#imgsrc14674_1{width:150px;}
#imgsrc14636_1{width:150px;}
#imgsrc14714_1{width:150px;}
#imgsrc14634_1{width:150px;}
#imgsrc14678_1{width:150px;}
#imgsrc14712_1{width:150px;}
#imgsrc14680_1{width:150px;}
#imgsrc14640_1{width:150px;}
#imgsrc14684_1{width:150px;}
#imgsrc14682_1{width:150px;}
#imgsrc14728_1{width:150px;}
#imgsrc14726_1{width:150px;}
#imgsrc14720_1{width:150px;}
#imgsrc14644_1{width:150px;}
#imgsrc14688_1{width:150px;}
#imgsrc14642_1{width:150px;}
#imgsrc14686_1{width:150px;}
#imgsrc14724_1{width:150px;}
#imgsrc14648_1{width:150px;}
#imgsrc14722_1{width:150px;}
#imgsrc14646_1{width:150px;}


@media (max-width: 641px) {
	#imgsrc14690_1{width:120px;}
	#imgsrc14650_1{width:100px;}
	#imgsrc14692_1{width:120px;}
	#imgsrc14654_1{width:100px;}
	#imgsrc14698_1{width:100px;}
	#imgsrc14732_1{width:100px;}
	#imgsrc14652_1{width:100px;}
	#imgsrc14696_1{width:120px;}
	#imgsrc14730_1{width:120px;}
	#imgsrc14658_1{width:120px;}
	#imgsrc14656_1{width:100px;}
	#imgsrc14662_1{width:120px;}
	#imgsrc14660_1{width:120px;}
	#imgsrc14706_1{width:100px;}
	#imgsrc14704_1{width:120px;}
	#imgsrc14628_1{width:120px;}
	#imgsrc14708_1{width:100px;}
	#imgsrc14622_1{width:100px;}
	#imgsrc14666_1{width:120px;}
	#imgsrc14664_1{width:120px;}
	#imgsrc14702_1{width:120px;}
	#imgsrc14700_1{width:100px;}
	#imgsrc14624_1{width:120px;}
	#imgsrc14668_1{width:120px;}
	#imgsrc14672_1{width:100px;}
	#imgsrc14670_1{width:100px;}
	#imgsrc14718_1{width:100px;}
	#imgsrc14638_1{width:120px;}
	#imgsrc14632_1{width:100px;}
	#imgsrc14676_1{width:100px;}
	#imgsrc14630_1{width:100px;}
	#imgsrc14674_1{width:100px;}
	#imgsrc14636_1{width:100px;}
	#imgsrc14714_1{width:120px;}
	#imgsrc14634_1{width:100px;}
	#imgsrc14678_1{width:100px;}
	#imgsrc14712_1{width:120px;}
	#imgsrc14680_1{width:100px;}
	#imgsrc14640_1{width:120px;}
	#imgsrc14684_1{width:120px;}
	#imgsrc14682_1{width:100px;}
	#imgsrc14728_1{width:100px;}
	#imgsrc14726_1{width:100px;}
	#imgsrc14720_1{width:120px;}
	#imgsrc14644_1{width:120px;}
	#imgsrc14688_1{width:120px;}
	#imgsrc14642_1{width:120px;}
	#imgsrc14686_1{width:120px;}
	#imgsrc14724_1{width:120px;}
	#imgsrc14648_1{width:100px;}
	#imgsrc14722_1{width:100px;}
	#imgsrc14646_1{width:100px;}
}
