@charset "utf-8";
/* page setting
--------------------------------------------------------- */
#a-header,#a-ghost_header,#a-billboard,#a-site_contents,#a-footer { max-width:100%; }
#a-site_contents { max-width:100%; }
@media (max-width: 641px) {

}


#page .bg-document {
}
#page {
}

#a-header {
}
#a-ghost_header {
}
#a-billboard {
}
#a-main {
}
#a-side-a {
}
#a-side-b {
}
#a-footer {
}
#a-site_contents {
}

@media (max-width: 641px) {
#page .bg-document {  
  }
#page {  
  }
	#a-header {padding:0px 0px 0px 0px;	}
	#a-ghost_header {padding:0px 0px 0px 0px;	}
	#a-billboard {padding:0px 0px 0px 0px;	}
	#a-main {padding:0px 0px 0px 0px;	}
	#a-side-a {padding:0px 0px 0px 0px;	}
	#a-side-b {padding:0px 0px 0px 0px;	}
	#a-footer {padding:0px 0px 0px 0px;	}
	}

#bk11046 { background-color:#1E4F24; }
#bk11049 > div { padding-left: 30px; padding-top: 20px; padding-right: 30px; padding-bottom: 10px;  } 
#bk11080 { background-color:#FBFBE1; }
#bk11080 > div { padding-left: 0px; padding-top: 0px; padding-right: 30px; padding-bottom: 0px;  } 
#bk11047 { background-color:#1E4F24; }
#bk11047 > div { padding-left: 0px; padding-top: 17px; padding-right: 0px; padding-bottom: 15px;  } 
#bk11081 { background-color:#1E4F24; }
#bk11081 > div { padding-left: 0px; padding-top: 20px; padding-right: 0px; padding-bottom: 20px;  } 
#bk11048 { background-color:#1E4F24; }
#bk11048 > div { padding-left: 0px; padding-top: 10px; padding-right: 0px; padding-bottom: 15px;  } 


@media (max-width: 641px) {
		#bk11046.b-plain > .column,#bk11046.b-plain > .g-column,#bk11046.b-both_diff > .column,#bk11046.b-both_diff > .g-column,#bk11046.b-headlines > .column,#bk11046.b-headlines > .g-column,#bk11046.b-album > .column,#bk11046.b-album > .g-column,#bk11046.b-tab > .column,#bk11046.b-tab > .g-column,#bk11046.b-accordion > .column,#bk11046.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11049.b-plain > .column,#bk11049.b-plain > .g-column,#bk11049.b-both_diff > .column,#bk11049.b-both_diff > .g-column,#bk11049.b-headlines > .column,#bk11049.b-headlines > .g-column,#bk11049.b-album > .column,#bk11049.b-album > .g-column,#bk11049.b-tab > .column,#bk11049.b-tab > .g-column,#bk11049.b-accordion > .column,#bk11049.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11049 > div { padding-left: 15px; padding-top: 20px; padding-right: 15px; padding-bottom: 0px;  } 
		#bk11050.b-plain > .column,#bk11050.b-plain > .g-column,#bk11050.b-both_diff > .column,#bk11050.b-both_diff > .g-column,#bk11050.b-headlines > .column,#bk11050.b-headlines > .g-column,#bk11050.b-album > .column,#bk11050.b-album > .g-column,#bk11050.b-tab > .column,#bk11050.b-tab > .g-column,#bk11050.b-accordion > .column,#bk11050.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11082.b-plain > .column,#bk11082.b-plain > .g-column,#bk11082.b-both_diff > .column,#bk11082.b-both_diff > .g-column,#bk11082.b-headlines > .column,#bk11082.b-headlines > .g-column,#bk11082.b-album > .column,#bk11082.b-album > .g-column,#bk11082.b-tab > .column,#bk11082.b-tab > .g-column,#bk11082.b-accordion > .column,#bk11082.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11079.b-plain > .column,#bk11079.b-plain > .g-column,#bk11079.b-both_diff > .column,#bk11079.b-both_diff > .g-column,#bk11079.b-headlines > .column,#bk11079.b-headlines > .g-column,#bk11079.b-album > .column,#bk11079.b-album > .g-column,#bk11079.b-tab > .column,#bk11079.b-tab > .g-column,#bk11079.b-accordion > .column,#bk11079.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11080.b-plain > .column,#bk11080.b-plain > .g-column,#bk11080.b-both_diff > .column,#bk11080.b-both_diff > .g-column,#bk11080.b-headlines > .column,#bk11080.b-headlines > .g-column,#bk11080.b-album > .column,#bk11080.b-album > .g-column,#bk11080.b-tab > .column,#bk11080.b-tab > .g-column,#bk11080.b-accordion > .column,#bk11080.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11080 > div { padding: 0px; }
		#bk11047.b-plain > .column,#bk11047.b-plain > .g-column,#bk11047.b-both_diff > .column,#bk11047.b-both_diff > .g-column,#bk11047.b-headlines > .column,#bk11047.b-headlines > .g-column,#bk11047.b-album > .column,#bk11047.b-album > .g-column,#bk11047.b-tab > .column,#bk11047.b-tab > .g-column,#bk11047.b-accordion > .column,#bk11047.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11047 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk11051.b-plain > .column,#bk11051.b-plain > .g-column,#bk11051.b-both_diff > .column,#bk11051.b-both_diff > .g-column,#bk11051.b-headlines > .column,#bk11051.b-headlines > .g-column,#bk11051.b-album > .column,#bk11051.b-album > .g-column,#bk11051.b-tab > .column,#bk11051.b-tab > .g-column,#bk11051.b-accordion > .column,#bk11051.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11072.b-plain > .column,#bk11072.b-plain > .g-column,#bk11072.b-both_diff > .column,#bk11072.b-both_diff > .g-column,#bk11072.b-headlines > .column,#bk11072.b-headlines > .g-column,#bk11072.b-album > .column,#bk11072.b-album > .g-column,#bk11072.b-tab > .column,#bk11072.b-tab > .g-column,#bk11072.b-accordion > .column,#bk11072.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11081.b-plain > .column,#bk11081.b-plain > .g-column,#bk11081.b-both_diff > .column,#bk11081.b-both_diff > .g-column,#bk11081.b-headlines > .column,#bk11081.b-headlines > .g-column,#bk11081.b-album > .column,#bk11081.b-album > .g-column,#bk11081.b-tab > .column,#bk11081.b-tab > .g-column,#bk11081.b-accordion > .column,#bk11081.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11081 > div { padding: 0px; }
		#bk11048.b-plain > .column,#bk11048.b-plain > .g-column,#bk11048.b-both_diff > .column,#bk11048.b-both_diff > .g-column,#bk11048.b-headlines > .column,#bk11048.b-headlines > .g-column,#bk11048.b-album > .column,#bk11048.b-album > .g-column,#bk11048.b-tab > .column,#bk11048.b-tab > .g-column,#bk11048.b-accordion > .column,#bk11048.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11048 > div { padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px;  } 
		#bk11052.b-plain > .column,#bk11052.b-plain > .g-column,#bk11052.b-both_diff > .column,#bk11052.b-both_diff > .g-column,#bk11052.b-headlines > .column,#bk11052.b-headlines > .g-column,#bk11052.b-album > .column,#bk11052.b-album > .g-column,#bk11052.b-tab > .column,#bk11052.b-tab > .g-column,#bk11052.b-accordion > .column,#bk11052.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11074.b-plain > .column,#bk11074.b-plain > .g-column,#bk11074.b-both_diff > .column,#bk11074.b-both_diff > .g-column,#bk11074.b-headlines > .column,#bk11074.b-headlines > .g-column,#bk11074.b-album > .column,#bk11074.b-album > .g-column,#bk11074.b-tab > .column,#bk11074.b-tab > .g-column,#bk11074.b-accordion > .column,#bk11074.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11053.b-plain > .column,#bk11053.b-plain > .g-column,#bk11053.b-both_diff > .column,#bk11053.b-both_diff > .g-column,#bk11053.b-headlines > .column,#bk11053.b-headlines > .g-column,#bk11053.b-album > .column,#bk11053.b-album > .g-column,#bk11053.b-tab > .column,#bk11053.b-tab > .g-column,#bk11053.b-accordion > .column,#bk11053.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11075.b-plain > .column,#bk11075.b-plain > .g-column,#bk11075.b-both_diff > .column,#bk11075.b-both_diff > .g-column,#bk11075.b-headlines > .column,#bk11075.b-headlines > .g-column,#bk11075.b-album > .column,#bk11075.b-album > .g-column,#bk11075.b-tab > .column,#bk11075.b-tab > .g-column,#bk11075.b-accordion > .column,#bk11075.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11054.b-plain > .column,#bk11054.b-plain > .g-column,#bk11054.b-both_diff > .column,#bk11054.b-both_diff > .g-column,#bk11054.b-headlines > .column,#bk11054.b-headlines > .g-column,#bk11054.b-album > .column,#bk11054.b-album > .g-column,#bk11054.b-tab > .column,#bk11054.b-tab > .g-column,#bk11054.b-accordion > .column,#bk11054.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11134.b-plain > .column,#bk11134.b-plain > .g-column,#bk11134.b-both_diff > .column,#bk11134.b-both_diff > .g-column,#bk11134.b-headlines > .column,#bk11134.b-headlines > .g-column,#bk11134.b-album > .column,#bk11134.b-album > .g-column,#bk11134.b-tab > .column,#bk11134.b-tab > .g-column,#bk11134.b-accordion > .column,#bk11134.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11055.b-plain > .column,#bk11055.b-plain > .g-column,#bk11055.b-both_diff > .column,#bk11055.b-both_diff > .g-column,#bk11055.b-headlines > .column,#bk11055.b-headlines > .g-column,#bk11055.b-album > .column,#bk11055.b-album > .g-column,#bk11055.b-tab > .column,#bk11055.b-tab > .g-column,#bk11055.b-accordion > .column,#bk11055.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11076.b-plain > .column,#bk11076.b-plain > .g-column,#bk11076.b-both_diff > .column,#bk11076.b-both_diff > .g-column,#bk11076.b-headlines > .column,#bk11076.b-headlines > .g-column,#bk11076.b-album > .column,#bk11076.b-album > .g-column,#bk11076.b-tab > .column,#bk11076.b-tab > .g-column,#bk11076.b-accordion > .column,#bk11076.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11056.b-plain > .column,#bk11056.b-plain > .g-column,#bk11056.b-both_diff > .column,#bk11056.b-both_diff > .g-column,#bk11056.b-headlines > .column,#bk11056.b-headlines > .g-column,#bk11056.b-album > .column,#bk11056.b-album > .g-column,#bk11056.b-tab > .column,#bk11056.b-tab > .g-column,#bk11056.b-accordion > .column,#bk11056.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11077.b-plain > .column,#bk11077.b-plain > .g-column,#bk11077.b-both_diff > .column,#bk11077.b-both_diff > .g-column,#bk11077.b-headlines > .column,#bk11077.b-headlines > .g-column,#bk11077.b-album > .column,#bk11077.b-album > .g-column,#bk11077.b-tab > .column,#bk11077.b-tab > .g-column,#bk11077.b-accordion > .column,#bk11077.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11057.b-plain > .column,#bk11057.b-plain > .g-column,#bk11057.b-both_diff > .column,#bk11057.b-both_diff > .g-column,#bk11057.b-headlines > .column,#bk11057.b-headlines > .g-column,#bk11057.b-album > .column,#bk11057.b-album > .g-column,#bk11057.b-tab > .column,#bk11057.b-tab > .g-column,#bk11057.b-accordion > .column,#bk11057.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11078.b-plain > .column,#bk11078.b-plain > .g-column,#bk11078.b-both_diff > .column,#bk11078.b-both_diff > .g-column,#bk11078.b-headlines > .column,#bk11078.b-headlines > .g-column,#bk11078.b-album > .column,#bk11078.b-album > .g-column,#bk11078.b-tab > .column,#bk11078.b-tab > .g-column,#bk11078.b-accordion > .column,#bk11078.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11058.b-plain > .column,#bk11058.b-plain > .g-column,#bk11058.b-both_diff > .column,#bk11058.b-both_diff > .g-column,#bk11058.b-headlines > .column,#bk11058.b-headlines > .g-column,#bk11058.b-album > .column,#bk11058.b-album > .g-column,#bk11058.b-tab > .column,#bk11058.b-tab > .g-column,#bk11058.b-accordion > .column,#bk11058.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11059.b-plain > .column,#bk11059.b-plain > .g-column,#bk11059.b-both_diff > .column,#bk11059.b-both_diff > .g-column,#bk11059.b-headlines > .column,#bk11059.b-headlines > .g-column,#bk11059.b-album > .column,#bk11059.b-album > .g-column,#bk11059.b-tab > .column,#bk11059.b-tab > .g-column,#bk11059.b-accordion > .column,#bk11059.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11060.b-plain > .column,#bk11060.b-plain > .g-column,#bk11060.b-both_diff > .column,#bk11060.b-both_diff > .g-column,#bk11060.b-headlines > .column,#bk11060.b-headlines > .g-column,#bk11060.b-album > .column,#bk11060.b-album > .g-column,#bk11060.b-tab > .column,#bk11060.b-tab > .g-column,#bk11060.b-accordion > .column,#bk11060.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11061.b-plain > .column,#bk11061.b-plain > .g-column,#bk11061.b-both_diff > .column,#bk11061.b-both_diff > .g-column,#bk11061.b-headlines > .column,#bk11061.b-headlines > .g-column,#bk11061.b-album > .column,#bk11061.b-album > .g-column,#bk11061.b-tab > .column,#bk11061.b-tab > .g-column,#bk11061.b-accordion > .column,#bk11061.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11062.b-plain > .column,#bk11062.b-plain > .g-column,#bk11062.b-both_diff > .column,#bk11062.b-both_diff > .g-column,#bk11062.b-headlines > .column,#bk11062.b-headlines > .g-column,#bk11062.b-album > .column,#bk11062.b-album > .g-column,#bk11062.b-tab > .column,#bk11062.b-tab > .g-column,#bk11062.b-accordion > .column,#bk11062.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11063.b-plain > .column,#bk11063.b-plain > .g-column,#bk11063.b-both_diff > .column,#bk11063.b-both_diff > .g-column,#bk11063.b-headlines > .column,#bk11063.b-headlines > .g-column,#bk11063.b-album > .column,#bk11063.b-album > .g-column,#bk11063.b-tab > .column,#bk11063.b-tab > .g-column,#bk11063.b-accordion > .column,#bk11063.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11064.b-plain > .column,#bk11064.b-plain > .g-column,#bk11064.b-both_diff > .column,#bk11064.b-both_diff > .g-column,#bk11064.b-headlines > .column,#bk11064.b-headlines > .g-column,#bk11064.b-album > .column,#bk11064.b-album > .g-column,#bk11064.b-tab > .column,#bk11064.b-tab > .g-column,#bk11064.b-accordion > .column,#bk11064.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11065.b-plain > .column,#bk11065.b-plain > .g-column,#bk11065.b-both_diff > .column,#bk11065.b-both_diff > .g-column,#bk11065.b-headlines > .column,#bk11065.b-headlines > .g-column,#bk11065.b-album > .column,#bk11065.b-album > .g-column,#bk11065.b-tab > .column,#bk11065.b-tab > .g-column,#bk11065.b-accordion > .column,#bk11065.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11066.b-plain > .column,#bk11066.b-plain > .g-column,#bk11066.b-both_diff > .column,#bk11066.b-both_diff > .g-column,#bk11066.b-headlines > .column,#bk11066.b-headlines > .g-column,#bk11066.b-album > .column,#bk11066.b-album > .g-column,#bk11066.b-tab > .column,#bk11066.b-tab > .g-column,#bk11066.b-accordion > .column,#bk11066.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11067.b-plain > .column,#bk11067.b-plain > .g-column,#bk11067.b-both_diff > .column,#bk11067.b-both_diff > .g-column,#bk11067.b-headlines > .column,#bk11067.b-headlines > .g-column,#bk11067.b-album > .column,#bk11067.b-album > .g-column,#bk11067.b-tab > .column,#bk11067.b-tab > .g-column,#bk11067.b-accordion > .column,#bk11067.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11068.b-plain > .column,#bk11068.b-plain > .g-column,#bk11068.b-both_diff > .column,#bk11068.b-both_diff > .g-column,#bk11068.b-headlines > .column,#bk11068.b-headlines > .g-column,#bk11068.b-album > .column,#bk11068.b-album > .g-column,#bk11068.b-tab > .column,#bk11068.b-tab > .g-column,#bk11068.b-accordion > .column,#bk11068.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11069.b-plain > .column,#bk11069.b-plain > .g-column,#bk11069.b-both_diff > .column,#bk11069.b-both_diff > .g-column,#bk11069.b-headlines > .column,#bk11069.b-headlines > .g-column,#bk11069.b-album > .column,#bk11069.b-album > .g-column,#bk11069.b-tab > .column,#bk11069.b-tab > .g-column,#bk11069.b-accordion > .column,#bk11069.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11070.b-plain > .column,#bk11070.b-plain > .g-column,#bk11070.b-both_diff > .column,#bk11070.b-both_diff > .g-column,#bk11070.b-headlines > .column,#bk11070.b-headlines > .g-column,#bk11070.b-album > .column,#bk11070.b-album > .g-column,#bk11070.b-tab > .column,#bk11070.b-tab > .g-column,#bk11070.b-accordion > .column,#bk11070.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11071.b-plain > .column,#bk11071.b-plain > .g-column,#bk11071.b-both_diff > .column,#bk11071.b-both_diff > .g-column,#bk11071.b-headlines > .column,#bk11071.b-headlines > .g-column,#bk11071.b-album > .column,#bk11071.b-album > .g-column,#bk11071.b-tab > .column,#bk11071.b-tab > .g-column,#bk11071.b-accordion > .column,#bk11071.b-accordion > .g-column { margin:0 auto; max-width:100%; }
		#bk11124.b-plain > .column,#bk11124.b-plain > .g-column,#bk11124.b-both_diff > .column,#bk11124.b-both_diff > .g-column,#bk11124.b-headlines > .column,#bk11124.b-headlines > .g-column,#bk11124.b-album > .column,#bk11124.b-album > .g-column,#bk11124.b-tab > .column,#bk11124.b-tab > .g-column,#bk11124.b-accordion > .column,#bk11124.b-accordion > .g-column { margin:0 auto; max-width:100%; }
	}


#imgsrc13947_1{width:100%;}
#imgsrc13969_1{width:100%;}
#imgsrc13945_1{width:100%;}
#imgsrc13967_1{width:100%;}
#imgsrc13989_1{width:100%;}
#imgsrc13907_1{width:100%;}
#imgsrc13929_1{width:100%;}
#imgsrc13927_1{width:100%;}
#imgsrc14137_1{width:100%;}
#imgsrc13885_1{width:100%;}
#imgsrc14179_1{width:100%;}
#imgsrc13883_1{width:100%;}
#imgsrc13921_1{width:100%;}
#imgsrc13965_1{width:100%;}
#imgsrc13987_1{width:100%;}
#imgsrc13889_1{width:100%;}
#imgsrc13941_1{width:100%;}
#imgsrc13985_1{width:100%;}
#imgsrc13887_1{width:100%;}
#imgsrc13891_1{width:100%;}
#imgsrc13991_1{width:100%;}
#imgsrc13937_1{width:100%;}
#imgsrc13959_1{width:100%;}
#imgsrc13879_1{width:100%;}
#imgsrc13935_1{width:100%;}
#imgsrc13957_1{width:100%;}
#imgsrc13979_1{width:100%;}
#imgsrc13919_1{width:100%;}
#imgsrc13939_1{width:100%;}
#imgsrc13895_1{width:100%;}
#imgsrc13973_1{width:100%;}
#imgsrc13995_1{width:100%;}
#imgsrc13971_1{width:100%;}
#imgsrc13977_1{width:100%;}
#imgsrc13875_1{width:100%;}
#imgsrc13953_1{width:100%;}
#imgsrc13975_1{width:100%;}
#imgsrc13997_1{width:100%;}


@media (max-width: 641px) {
	#imgsrc13947_1{width:100%;}
	#imgsrc13969_1{width:100%;}
	#imgsrc13945_1{width:100%;}
	#imgsrc13967_1{width:100%;}
	#imgsrc13989_1{width:100%;}
	#imgsrc13907_1{width:100%;}
	#imgsrc13929_1{width:100%;}
	#imgsrc13927_1{width:100%;}
	#imgsrc14137_1{width:100%;}
	#imgsrc13885_1{width:100%;}
	#imgsrc14179_1{width:100%;}
	#imgsrc13883_1{width:100%;}
	#imgsrc13921_1{width:100%;}
	#imgsrc13965_1{width:100%;}
	#imgsrc13987_1{width:100%;}
	#imgsrc13889_1{width:100%;}
	#imgsrc13941_1{width:100%;}
	#imgsrc13985_1{width:100%;}
	#imgsrc13887_1{width:100%;}
	#imgsrc13891_1{width:100%;}
	#imgsrc13991_1{width:100%;}
	#imgsrc13937_1{width:100%;}
	#imgsrc13959_1{width:100%;}
	#imgsrc13879_1{width:100%;}
	#imgsrc13935_1{width:100%;}
	#imgsrc13957_1{width:100%;}
	#imgsrc13979_1{width:100%;}
	#imgsrc13919_1{width:100%;}
	#imgsrc13939_1{width:100%;}
	#imgsrc13895_1{width:100%;}
	#imgsrc13973_1{width:100%;}
	#imgsrc13995_1{width:100%;}
	#imgsrc13971_1{width:100%;}
	#imgsrc13977_1{width:100%;}
	#imgsrc13875_1{width:100%;}
	#imgsrc13953_1{width:100%;}
	#imgsrc13975_1{width:100%;}
	#imgsrc13997_1{width:100%;}
}
